use-cases/etl-orchestration-with-lambda-and-step-functions/cloud_formation_template/etl-orchestration-with-stepfunctions-and-redshift-data-api.yaml
<!DOCTYPE html>
<html>
<head>
<title>etl-orchestration-with-stepfunctions-and-redshift-data-api.yaml - Amazon-redshift-data-api-getting-started - Code Browser</title>
<meta content='width=device-width, initial-scale=1' name='viewport'>
<meta content='true' name='use-sentry'>
<meta content='e92b38cc-35a1-4990-ba43-5dda374580ef' name='request-id'>
<meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="7IHR8WfYuc1FVWD9eVPzVk1Hvm2HcSPcpU8mlfsveVnQaY8AJu80ctNqC22IqQdwPGUw7h9JQlBZhYRHGA5P0A==" />
<meta content='IE=edge' http-equiv='X-UA-Compatible'>

<link rel="shortcut icon" type="image/x-icon" href="https://internal-cdn.amazon.com/code.amazon.com/pub/assets/cdn/favicon-c8c77da180d3e9e679dac48d5ae77858edd6974d6a2a78b1705dc0b499c1d7c2.ico" />
<link rel="stylesheet" media="all" href="https://m.media-amazon.com/images/G/01/oneg/assets/3.2.4/css/application.min.css" />
<link rel="stylesheet" media="all" href="https://internal-cdn.amazon.com/code.amazon.com/pub/assets/cdn/vendor-90acffb4f83d4fac4e18700dd74243643e9d8b5e81b5c61e7e52383ae980ab29.css" />
<link rel="stylesheet" media="all" href="https://internal-cdn.amazon.com/code.amazon.com/pub/assets/cdn/application-oneg-b0d2918a35db96d2b15378ac99385b5e1e01275304cdd53ccab39522e1054546.css" />
<link rel="stylesheet" media="all" href="https://internal-cdn.amazon.com/is-it-down.amazon.com/stylesheets/stripe.css" />
<style>
  .absolute-time {
    display: none; }
  
  .relative-time {
    display: auto; }
</style>
<style>
  .add_related_items {
    display: none; }
  
  #related_items {
    margin-top: 10px;
    text-align: right;
    min-height: 50px; }
    #related_items .error {
      color: red; }
</style>
<link rel="stylesheet" media="screen" href="https://internal-cdn.amazon.com/code.amazon.com/pub/assets/cdn/spiffy_diffy_assets/spiffy_diffy-ae36511172a0f079b00af773e85db1f4d5487f8f415e97b89baaae2c05113dd3.css" />
<link rel="stylesheet" media="screen" href="https://internal-cdn.amazon.com/code.amazon.com/pub/assets/cdn/blobs-b13b6a7caacd4135de19896de8b46573cb30e250f79cfa77c7916f397be6f24f.css" />

</head>
<body>
<nav class='navbar navbar-default hidden-print' role='navigation'>
<div class='container-fluid'>
<div class='navbar-header'>
<a class='navbar-brand' href='/' title='Code Browser Website'>
Code Browser
</a>
</div>
<ul class='nav navbar-nav'>
<li>
<div class='advanced-search-hover-link'>
<!-- / preserves query and redirects to advanced search -->
<a class="fa fa-magic" href="/search?&amp;commit=Search"></a>
</div>
<form action='/search' class='form-inline navbar-search navbar-form'>
<div class='search-spinner' style='display:none'>
<img src='https://images-na.ssl-images-amazon.com/images/G/01/oneg/img/spinner.gif'>
</div>
<div class='input-append inline-elem'>
<input accesskey='s' class='hinted input-medium autocomplete-packages search-query form-control search' data-autocomplete-url='/packages/autocomplete_package_id?vs=true' id='search_top' name='term' placeholder='Code Search' role='search' size='40' tabindex='1' title='Code Search' type='text'>
</div>
<a href='#'>
<img target_popup="search-bar-hint" src="https://internal-cdn.amazon.com/code.amazon.com/pub/assets/cdn/tooltip-bubble-c216fb54e673c87bc8058ff6778cbe0b94538db89ab1b9cf59935c5dadc7f96e.png" />
</a>
<div class='popover fade right in code-search-help-box nav' id='search-bar-hint'>
<h3 class='popover-title'>Code Search Hints</h3>
<div class='popover-content'>
<p>
<strong class='external text'>
<a href='/search' rel='nofollow'>Advanced Search</a>
</strong>
</p>
<p>
<strong>Simple search:</strong>
&lt;term&gt;
</p>
<p>
<strong>Prefix search:</strong>
&lt;at-least-three-chars&gt;*
</p>
<p>
<strong>Find files with at least one of two terms (logical OR):</strong>
&lt;term1&gt; &lt;term2&gt;
</p>
<p>
<strong>Find files with at least one of two terms but not a third term:</strong>
&lt;term1&gt; &lt;term2&gt;&nbsp;!&lt;term3&gt;
</p>
<p>
<strong>Find files with two terms in sequence:</strong>
"&lt;term1&gt; &lt;term2&gt;"
</p>
<p>
<strong>Filter to only one or more repository:</strong>
&lt;term1&gt; rp:&lt;MyPackageName&gt; ...
</p>
<p>
<strong>Filter to a particular file extension:</strong>
&lt;term1&gt; path:.java
</p>
<p>
<strong>Filter out a particular file extension (works w/ all filters):</strong>
&lt;term1&gt; path:!.java
</p>
<p>
<strong>Find files with two terms with filters (logical AND):</strong>
&lt;term1&gt; &lt;term2&gt; path:.md ...
</p>
<p>
<strong>Filter to a path: &lt;term1&gt;</strong>
path:/my/path/to/consider*
</p>
<p>
<strong>Filter by write permissions:</strong>
group:&lt;some-ldap-posix-or-source-group&gt;
</p>
<p>
<strong>Filter by package status:</strong>
status:active:deprecated
</p>
<p>
<strong>Filter by branch: branch:&lt;branch-name&gt;</strong>
</p>
<p>
<strong>Filter by third party:</strong>
third_party:true|false
</p>
<p>
<strong>Filter by particular class in java files:</strong>
class:&lt;class_name&gt;
</p>
<p>
<strong>Filter by method declarations in java files:</strong>
method:&lt;method_name&gt;
</p>
<p>
<strong>Filter by method calls in java files:</strong>
method_call:&lt;method_name&gt;
</p>
<p>
<strong>Filter by interface declarations in java files:</strong>
interface:&lt;interface_name&gt;
</p>
<p>
<a class='external text' href='https://builderhub.corp.amazon.com/docs/code-browser/user-guide/code-search.html' rel='nofollow'>Read more here</a>
</p>
<p>
<i>(click on the speech bubble to close)</i>
</p>
</div>
</div>

</form>
</li>
<li>
<a href="/permissions">Permissions</a>
</li>
<li>
<a href="/workspaces/pedrezaj">Workspaces</a>
</li>
<li>
<a href="/version-sets">Version Sets</a>
</li>
<li>
<a href="/reviews">Code Reviews</a>
</li>
<li>
<a data-target='#preferences_dialog' data-toggle='modal' id='preferences'>Preferences</a>
<div class='modal fade' id='preferences_dialog' role='dialog'>
<div class='modal-dialog modal-md'>
<div class='modal-content'>
<div class='modal-header'>
<button class='close' data-dismiss='modal' type='button'>
<i class='fa fa-times'></i>
</button>
<h4 class='modal-title'>User Preferences</h4>
</div>
<div class='modal-body'>
<div class='text-center'>
<i class='fa fa-spinner fa-spin'></i>
</div>
</div>
</div>
</div>
</div>
</li>
</ul>
<div class='nav navbar-nav navbar-right parent-tag-container'>
<div class='tag-container'>
<a class='tag-link' href='https://w.amazon.com/bin/view/BuilderTools/Groups/Codex/Hiring/' target='_blank'>We are hiring!</a>
</div>
</div>
<ul class='nav navbar-nav navbar-right parent-button-container'>
<li>
<button class='btn nav-button' id='tiny-link'>Tiny Link</button>
</li>
</ul>
</div>
</nav>

<div class='container-fluid'>
<ol class='breadcrumb'>
<li>
<a href="/">Home</a>
</li>
<li><a href="/packages/Amazon-redshift-data-api-getting-started">Amazon-redshift-data-api-getting-started</a></li>
<li><a href="/packages/Amazon-redshift-data-api-getting-started/trees/mainline/--/">mainline</a></li>
<li><a href="/packages/Amazon-redshift-data-api-getting-started/trees/mainline/--/use-cases">use-cases</a></li>
<li><a href="/packages/Amazon-redshift-data-api-getting-started/trees/mainline/--/use-cases/etl-orchestration-with-lambda-and-step-functions">etl-orchestration-with-lambda-and-step-functions</a></li>
<li><a href="/packages/Amazon-redshift-data-api-getting-started/trees/mainline/--/use-cases/etl-orchestration-with-lambda-and-step-functions/cloud_formation_template">cloud_formation_template</a></li>
<li class='.active'>etl-orchestration-with-stepfunctions-and-redshift-data-api.yaml</li>


</ol>
<div id='content'>
</div>

<div class='page-header'>
<h1>
<span>
Amazon-redshift-data-api-getting-started
</span>
<div class='star' data-package='Amazon-redshift-data-api-getting-started'></div>
<small class='hidden-print'>
<a class='powertip autoselect pull-right' data-powertip='brazil ws use -p Amazon-redshift-data-api-getting-started' id='bw_use'>
<i class='glyphicon glyphicon-download-alt'></i>
</a>
</small>
<small>
<span class='clone subtext pull-right hidden-print'>
<form class='form-inline'>
Clone uri:
<input class='form-control input-sm' type='text' value='ssh://git.amazon.com/pkg/Amazon-redshift-data-api-getting-started'>
</form>
</span>

</small>
<small>
<div class='pull-right hidden-print' id='code_search_box'>
<form class="form-inline" action="/search_redirector" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
<div class='input-group search '><input type="text" name="search_term" id="search_term" placeholder="Search in this package" size="21" class="form-control input-sm" />
<span class='input-group-btn'><button class='btn' type='submit'>Go</button></span></div><input type="hidden" name="package" id="package" value="Amazon-redshift-data-api-getting-started" />
<input type="hidden" name="path" id="path" value="use-cases/etl-orchestration-with-lambda-and-step-functions/cloud_formation_template/etl-orchestration-with-stepfunctions-and-redshift-data-api.yaml" />
</form>

</div>

</small>
</h1>
<div class='badges'>
<div class='placeholder'>
&nbsp
</div>
<span id='third_party' style='display: none;'>
<span class='label label-info'>Third Party Package</span>
</span>
<div class='popover fade right in badge-helper-box' id='badge-hints'>
<h3 class='popover-title'>Hint</h3>
<div class='badge-helper-content popover-content'>
<p>
Package badge data is extracted from brazil metadata about a package.  Particularly, Code Browser finds the highest major version and fetches data about that package version from the latest build in the primary version set.
</p>
<p>
The metadata we have is based on following brazil conventions about where to place documentation and unit test (and coverage) output.  Here are a few other wiki pages that have more detailed information about these topics.
</p>
<ul>
<li>
Each
<a class='external text' href='https://w.amazon.com/index.php/BrazilBuildSystem/BuildSystems' rel='nofollow'>build system</a>
may have ways to configure build artifacts that the Brazil system recognizes.
</li>
<li>
Java - if you use
<a class='external text' href='https://w.amazon.com/index.php/BrazilBuildSystem/HappierTrails' rel='nofollow'>Happier Trails</a>
you should get test, documentation, and coverage data out of the box.
</li>
<li>
This
<a class='external text' href='https://w.amazon.com/index.php/BrazilBuildSystem/Concepts/UnitTestingInBrazil/JavaUnitTesting' rel='nofollow'>Java Unit Testing</a>
page describes the basic conventions underlying test output.  Most any language / build system can output usable information just by putting the right files in the right places.
</li>
</ul>
<p>
Here are some example packages for a few languages that are configured to expose this information to Brazil:
</p>
<ul>
<li>
Java -
<a class='external text' href='https://code.amazon.com/packages/ToolsPermsService/blobs/mainline/--/build.xml' rel='nofollow'>ToolsPermsService</a>
</li>
<li>
Ruby -
<a class='external text' href='https://code.amazon.com/packages/CriticService/blobs/mainline/--/Rakefile' rel='nofollow'>CriticService</a>
(
<a class='external text' href='https://w.amazon.com/index.php/BuilderTools/Product/BrazilRake' rel='nofollow'>BrazilRake's</a>
SimpleCov does most of the work)
</li>
<li>
Python -
<a class='external text' href='https://code.amazon.com/packages/Ducky/blobs/62906a55e2c53e9dc779a00770b39b0620d74c45/--/Config#line-48' rel='nofollow'>Ducky</a>
</li>
<li>
Perl - ?
</li>
</ul>
</div>
</div>

</div>
</div>
<div class='row'>
<div class='col-md-9'>
<ul class='nav nav-pills bottom-buffer-small hidden-print'>
<li class='active'><a href="/packages/Amazon-redshift-data-api-getting-started">Source</a></li>
<li><a href="/packages/Amazon-redshift-data-api-getting-started/logs">Commits</a></li>
<li><a href="/packages/Amazon-redshift-data-api-getting-started/releases">Releases</a></li>
<li><a href="/packages/Amazon-redshift-data-api-getting-started/metrics/28a67ed63469e767ff917f71d9697275aa578490">Metrics</a></li>
<li><a href="/packages/Amazon-redshift-data-api-getting-started/permissions">Permissions</a></li>
<li><a href="/gc/rules/for-package/Amazon-redshift-data-api-getting-started">CRUX Rules</a></li>
<li><a href="/packages/Amazon-redshift-data-api-getting-started/repo-info">Repository Info</a></li>
<li><a href="/packages/Amazon-redshift-data-api-getting-started/replicas">CodeCommit Replicas</a></li>
</ul>

</div>
<div class='col-md-3'>
<div id='branch_and_search_box'>
<div class='hidden-print' id='branch_dropdown'>
<label for="branches">Branches: </label>
<input id='branches' name='branches' type='hidden'>
</div>

</div>

</div>
</div>
<div class='last_commit panel panel-default top-buffer-small'>
<div class='last_commit_heading'>
Last Commit
<span class='subtext'>
(<a class="commit-see-more" href="#">see more</a>)
</span>
</div>
<div class='panel-body'>
<ul class='last-commit-summary list-unstyled list-inline'>
<li class='commiter'></li>
<a title="rzhamzn-at-601176997573" href="https://code.amazon.com/users/rzhamzn/activity">rzhamzn-at-601176997573</a>
<li class='time'></li>
<span title='Committed on January 11, 2022 11:11:29 PM PST' class='relative-time hover_tooltip year_old'>about 2 months ago</span><span class='absolute-time hover_tooltip year_old'>2022-01-11 23:11:29 PST</span>
<li class='commit_message'>
<span class='refs'>
</span>
<a class='powertip commit black' data-commit-id='28a67ed63469e767ff917f71d9697275aa578490' href='/packages/Amazon-redshift-data-api-getting-started/commits/28a67ed63469e767ff917f71d9697275aa578490'>
sync
</a>
</li>
<li><a class="mono powertip autoselect" data-powertip="28a67ed63469e767ff917f71d9697275aa578490" data-commit-id="28a67ed63469e767ff917f71d9697275aa578490" href="/packages/Amazon-redshift-data-api-getting-started/commits/28a67ed63469e767ff917f71d9697275aa578490#use-cases/etl-orchestration-with-lambda-and-step-functions/cloud_formation_template/etl-orchestration-with-stepfunctions-and-redshift-data-api.yaml">28a67ed6</a></li>
<li>
<img alt="Pipelines logo" src="https://internal-cdn.amazon.com/pipelines.amazon.com/public/assets/favicon-a58010788e2014b36083d9b8766021876b1f1e219ed5496b9cc040a2712e4ea1.ico" />
<a href="https://pipelines.amazon.com/changes/PKG/Amazon-redshift-data-api-getting-started/mainline/GitFarm:28a67ed63469e767ff917f71d9697275aa578490">Track in pipelines</a>
</li>
</ul>

<div class='swappable-with-brief-header'>
<div class='commit_header'>
<div class='portrait'>
<div style='display: flex'>
<div style='margin-left: 5px'>
<a href="https://code.amazon.com/users/rzhamzn/activity"><img class="" width="50" onerror="this.onerror=null; this.src=&#39;https://internal-cdn.amazon.com/code.amazon.com/pub/assets/cdn/default-user-b916c01d82910755cdba17db81688d35c994cf77a5907d721a6d93522961d007.gif&#39;" src="https://internal-cdn.amazon.com/badgephotos.amazon.com/phone-image.pl?uid=rzhamzn" /></a>
</div>
</div>
</div>
<div class='details'>
<div class='pull-right' id='track_pipeline_change' style='clear-right'>
<ul class='list-unstyled'>
<li>
<img src="https://pipelines.amazon.com/favicon.ico" />
<a href="https://pipelines.amazon.com/changes/PKG/Amazon-redshift-data-api-getting-started/mainline/GitFarm:28a67ed63469e767ff917f71d9697275aa578490">Track in pipelines</a>
<span class='subtext'>(mainline)</span>
</li>
</ul>
</div>
<div class='download-diff pull-right' style='clear: right'>
<a href="/api/packages/Amazon-redshift-data-api-getting-started/diff/28a67ed63469e767ff917f71d9697275aa578490">Download Diff</a>
</div>
<div class='pull-right' id='browse_source' style='clear: right'>
<a href="/packages/Amazon-redshift-data-api-getting-started/trees/28a67ed63469e767ff917f71d9697275aa578490">Browse source at this commit</a>
</div>
<div class='pull-right' id='child_link' style='clear: right'>
<a href="/packages/Amazon-redshift-data-api-getting-started/commits/28a67ed63469e767ff917f71d9697275aa578490.child">view child commit</a>
</div>
<ul class='list-unstyled pull-right' style='clear: right; margin-bottom: 0px'>
<li><a href="/packages/Amazon-redshift-data-api-getting-started/commits/cc439589df2c0d50b6965e6e41f6da2e80a64931">view parent (cc439589)</a></li></ul>
<div class='pull-right' id='related_items' style='clear: right'>
<h4>
Related Items
<small class='add_relation_link'>
<a href='#'>+Add</a>
</small>
</h4>
<div class='fetching subtext'>
Fetching...
</div>
<div class='msg subtext' style='display: none'>
(none)
</div>
<ul class='list-unstyled' data-bind='foreach: relatedItemsModel().relatedItems, visible: relatedItemsModel().relatedItems().length &gt; 0'>
<li>
<span data-bind='text: type'></span>
<a data-bind='text: link.title, attr: {href: link.url}'></a>
<a class='delete_relation' data-bind='attr: {href: &#39;/delete-relation?eid=&#39; + link.eid}' onclick='return confirm(&quot;Really delete this relation?&quot;)'>
<span class='red'>&nbsp;x&nbsp;</span>
</a>
</li>
</ul>
<div class='add_related_items'>
<form action="/create_relation" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="0ny5XBhTJLb7OwlAg1R88fTBlGsq/mcWxq8p7D79Bd7ulOetWWSpCW0EYtByrojXheMa6LLGBpo6ZYs+3dwzVw==" />
Relate this commit to url:
<input name='relation' type='text'>
<input type="hidden" name="package_id" id="package_id" value="Amazon-redshift-data-api-getting-started" />
<input type="hidden" name="commit_id" id="commit_id" value="28a67ed63469e767ff917f71d9697275aa578490" />
<input type="submit" name="commit" value="Save" class="btn btn-default" data-disable-with="Save" />
</form>

</div>
</div>
<div class='author'>
<div class='author-line' style='font-size: 120%'>
<span class='name'><a title="rzhamzn-at-601176997573" href="https://code.amazon.com/users/rzhamzn/activity">rzhamzn-at-601176997573</a></span>
<span class='sha1'>
(<a class='powertip autoselect' data-powertip='28a67ed63469e767ff917f71d9697275aa578490' href='/packages/Amazon-redshift-data-api-getting-started/commits/28a67ed63469e767ff917f71d9697275aa578490'>28a67ed6</a>)
</span>
</div>
<div id='extra-commit-and-branch-info'>
authored: <span title='January 11, 2022 11:11:29 PM PST' class='relative-time hover_tooltip year_old'>about 2 months ago</span><span class='absolute-time hover_tooltip year_old'>2022-01-11 23:11:29 PST</span>, committed: <span title='January 11, 2022 11:11:29 PM PST' class='relative-time hover_tooltip year_old'>about 2 months ago</span><span class='absolute-time hover_tooltip year_old'>2022-01-11 23:11:29 PST</span>
<div class='summaries'>
<div class='summary'>
Pushed to
<span class='autoselect branch powertip ref' data-powertip='mainline'>mainline</span>
by rzhamzn <span title='January 11, 2022 11:12:02 PM PST' class='relative-time hover_tooltip year_old'>about 2 months ago</span><span class='absolute-time hover_tooltip year_old'>2022-01-11 23:12:02 PST</span> as part of <a class='powertip autoselect' data-powertip='76c18ab13cdcb7f10c5c77d184b8cab6e0246f91' href='/packages/Amazon-redshift-data-api-getting-started/commits/76c18ab13cdcb7f10c5c77d184b8cab6e0246f91'>76c18ab1</a>
</div>
</div>


</div>
<p class='top-buffer'>
<span class='subject'>
<a href="/packages/Amazon-redshift-data-api-getting-started/commits/28a67ed63469e767ff917f71d9697275aa578490">sync</a>
</span>
</p>
</div>
</div>
</div>

</div>
</div>
</div>
<div class='clear'></div>

<div class='jump_to_file hidden-print'>
<div class='jump_to_file_form'>
<form class='form_inline' onSubmit='return false'>
<input type="hidden" name="package_id" id="package_id" value="Amazon-redshift-data-api-getting-started" />
<input type="hidden" name="commit_id_for_file" id="commit_id_for_file" value="mainline" />
<div class='input-append'>
<input accesskey='j' class='hinted form-control search' id='filesearch' name='file' placeholder='Jump to a file' title='Jump to a file' type='text'>
</div>
<div class='jump_to_file_dismiss'></div>
</form>
</div>
<div class='jump_to_file_popup'><a class='help helpPopup' data-content='Here you can enter the name of the file and it will provide suggestions with the matching file names and the path for the same.&lt;br/&gt; After selecting the required file, it will redirect to that file. The keyboard shortcut is &#39;CTRL+j&#39;.'>
<img src="https://internal-cdn.amazon.com/code.amazon.com/pub/assets/cdn/tooltip-bubble-c216fb54e673c87bc8058ff6778cbe0b94538db89ab1b9cf59935c5dadc7f96e.png" />
</a>
</div>
<div class='jump_to_file_error'>
The above file can not be found. Either the whole path is missing or the file is not in
<br>this package. Please check the autosuggestions.</br>
</div>
</div>

<!--
mime_type: text/x-python; charset=us-ascii
-->
<div class='file_header'>
<div class='path_breadcrumbs'>
<div class='path_breadcrumbs'>
<span class='path_breadcrumb'><a href="/packages/Amazon-redshift-data-api-getting-started">Amazon-redshift-data-api-getting-started</a></span>/<span class='path_breadcrumb'><a href="/packages/Amazon-redshift-data-api-getting-started/trees/mainline/--/">mainline</a></span>/<span class='path_breadcrumb'><a href="/packages/Amazon-redshift-data-api-getting-started/trees/mainline/--/use-cases">use-cases</a></span>/<span class='path_breadcrumb'><a href="/packages/Amazon-redshift-data-api-getting-started/trees/mainline/--/use-cases/etl-orchestration-with-lambda-and-step-functions">etl-orchestration-with-lambda-and-step-functions</a></span>/<span class='path_breadcrumb'><a href="/packages/Amazon-redshift-data-api-getting-started/trees/mainline/--/use-cases/etl-orchestration-with-lambda-and-step-functions/cloud_formation_template">cloud_formation_template</a></span>/<span class='path_breadcrumb'>etl-orchestration-with-stepfunctions-and-redshift-data-api.yaml</span>
</div>

</div>
<div class='hidden-print' id='file_actions'>
<ul class='button_group'>
<li>
<a class="minibutton" href="/packages/Amazon-redshift-data-api-getting-started/blobs/mainline/--/use-cases/etl-orchestration-with-lambda-and-step-functions/cloud_formation_template/etl-orchestration-with-stepfunctions-and-redshift-data-api.yaml?raw=1">Raw</a>
</li>
<li>
<a class="minibutton" href="/packages/Amazon-redshift-data-api-getting-started/blobs/mainline/--/use-cases/etl-orchestration-with-lambda-and-step-functions/cloud_formation_template/etl-orchestration-with-stepfunctions-and-redshift-data-api.yaml?download=1">Download</a>
</li>
<li>
<a class="minibutton" href="/packages/Amazon-redshift-data-api-getting-started/logs/mainline?path=use-cases%2Fetl-orchestration-with-lambda-and-step-functions%2Fcloud_formation_template%2Fetl-orchestration-with-stepfunctions-and-redshift-data-api.yaml">History</a>
</li>
<li>
<a class="minibutton" href="/packages/Amazon-redshift-data-api-getting-started/blobs/mainline/--/use-cases/etl-orchestration-with-lambda-and-step-functions/cloud_formation_template/etl-orchestration-with-stepfunctions-and-redshift-data-api.yaml/edit_file_online">Edit</a>
</li>
<li class='permalink'>
<a class="minibutton" href="/packages/Amazon-redshift-data-api-getting-started/blobs/28a67ed63469e767ff917f71d9697275aa578490/--/use-cases/etl-orchestration-with-lambda-and-step-functions/cloud_formation_template/etl-orchestration-with-stepfunctions-and-redshift-data-api.yaml">Permalink</a>
</li>
</ul>
<span class='blame subtext'>
<label>
show blame:
<input disabled type='checkbox'>
</label>
<span class='subtext'>Older</span>
<span class='age0 ageKey'>&nbsp;</span>
<span class='age20 ageKey'>&nbsp;</span>
<span class='age40 ageKey'>&nbsp;</span>
<span class='age60 ageKey'>&nbsp;</span>
<span class='age80 ageKey'>&nbsp;</span>
<span class='age100 ageKey'>&nbsp;</span>
<span class='subtext'>Newer</span>
</span>
</div>
<div class='clear'></div>
<div class='highlighttable blob' ng_non_bindable>
  
    <div class="js-syntax-highlight-wrapper">
      <table class="code js-syntax-highlight">
        <tbody>
          
            
            <tr class="line_holder" id="L1">
              <td class="line-num" data-linenumber="1">
                <span class="linked-line" unselectable="on" data-linenumber="1"></span>
              </td>
              
              <td class="line_content"><span class="na">AWSTemplateFormatVersion</span><span class="pi">:</span> <span class="s">2010-09-09</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L2">
              <td class="line-num" data-linenumber="2">
                <span class="linked-line" unselectable="on" data-linenumber="2"></span>
              </td>
              
              <td class="line_content"><span class="na">Description</span><span class="pi">:</span> <span class="s2">"</span><span class="s">CloudFormation</span><span class="nv"> </span><span class="s">Template</span><span class="nv"> </span><span class="s">to</span><span class="nv"> </span><span class="s">deploy</span><span class="nv"> </span><span class="s">an</span><span class="nv"> </span><span class="s">ETL</span><span class="nv"> </span><span class="s">orchestration</span><span class="nv"> </span><span class="s">pipeline</span><span class="nv"> </span><span class="s">by</span><span class="nv"> </span><span class="s">using</span><span class="nv"> </span><span class="s">Redshift</span><span class="nv"> </span><span class="s">Data</span><span class="nv"> </span><span class="s">Api,</span><span class="nv"> </span><span class="s">Step</span><span class="nv"> </span><span class="s">Function</span><span class="nv"> </span><span class="s">and</span><span class="nv"> </span><span class="s">AWS</span><span class="nv"> </span><span class="s">Lambda"</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L3">
              <td class="line-num" data-linenumber="3">
                <span class="linked-line" unselectable="on" data-linenumber="3"></span>
              </td>
              
              <td class="line_content"><span class="na">Parameters</span><span class="pi">:</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L4">
              <td class="line-num" data-linenumber="4">
                <span class="linked-line" unselectable="on" data-linenumber="4"></span>
              </td>
              
              <td class="line_content">  <span class="na">RedshiftClusterEndpoint</span><span class="pi">:</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L5">
              <td class="line-num" data-linenumber="5">
                <span class="linked-line" unselectable="on" data-linenumber="5"></span>
              </td>
              
              <td class="line_content">    <span class="na">Description</span><span class="pi">:</span> <span class="s">Redshift cluster endpoint including port number and database name</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L6">
              <td class="line-num" data-linenumber="6">
                <span class="linked-line" unselectable="on" data-linenumber="6"></span>
              </td>
              
              <td class="line_content">    <span class="na">Type</span><span class="pi">:</span> <span class="s">String</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L7">
              <td class="line-num" data-linenumber="7">
                <span class="linked-line" unselectable="on" data-linenumber="7"></span>
              </td>
              
              <td class="line_content">    <span class="na">Default</span><span class="pi">:</span> <span class="s">redshift-cluster.xxxxxx.region.redshift.amazonaws.com:5439/dev</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L8">
              <td class="line-num" data-linenumber="8">
                <span class="linked-line" unselectable="on" data-linenumber="8"></span>
              </td>
              
              <td class="line_content">  <span class="na">DbUsername</span><span class="pi">:</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L9">
              <td class="line-num" data-linenumber="9">
                <span class="linked-line" unselectable="on" data-linenumber="9"></span>
              </td>
              
              <td class="line_content">    <span class="na">Description</span><span class="pi">:</span> <span class="s">Redshift database user name which has access to run SQL Script.</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L10">
              <td class="line-num" data-linenumber="10">
                <span class="linked-line" unselectable="on" data-linenumber="10"></span>
              </td>
              
              <td class="line_content">    <span class="na">Type</span><span class="pi">:</span> <span class="s">String</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L11">
              <td class="line-num" data-linenumber="11">
                <span class="linked-line" unselectable="on" data-linenumber="11"></span>
              </td>
              
              <td class="line_content">    <span class="na">AllowedPattern</span><span class="pi">:</span> <span class="s2">"</span><span class="s">([a-z])([a-z]|[0-9])*"</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L12">
              <td class="line-num" data-linenumber="12">
                <span class="linked-line" unselectable="on" data-linenumber="12"></span>
              </td>
              
              <td class="line_content">    <span class="na">Default</span><span class="pi">:</span> <span class="s1">'</span><span class="s">awsuser'</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L13">
              <td class="line-num" data-linenumber="13">
                <span class="linked-line" unselectable="on" data-linenumber="13"></span>
              </td>
              
              <td class="line_content">  <span class="na">ETLScriptS3Path</span><span class="pi">:</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L14">
              <td class="line-num" data-linenumber="14">
                <span class="linked-line" unselectable="on" data-linenumber="14"></span>
              </td>
              
              <td class="line_content">    <span class="na">Description</span><span class="pi">:</span> <span class="s">S3 URI to store the SQL script files. Please note, this automation would grant full access on your SQL script files' S3 bucket.</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L15">
              <td class="line-num" data-linenumber="15">
                <span class="linked-line" unselectable="on" data-linenumber="15"></span>
              </td>
              
              <td class="line_content">    <span class="na">Type</span><span class="pi">:</span> <span class="s">String</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L16">
              <td class="line-num" data-linenumber="16">
                <span class="linked-line" unselectable="on" data-linenumber="16"></span>
              </td>
              
              <td class="line_content">    <span class="na">Default</span><span class="pi">:</span> <span class="s1">'</span><span class="s">s3://YourS3Bucket/Key/'</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L17">
              <td class="line-num" data-linenumber="17">
                <span class="linked-line" unselectable="on" data-linenumber="17"></span>
              </td>
              
              <td class="line_content"><span class="na">Metadata</span><span class="pi">:</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L18">
              <td class="line-num" data-linenumber="18">
                <span class="linked-line" unselectable="on" data-linenumber="18"></span>
              </td>
              
              <td class="line_content">  <span class="s">AWS::CloudFormation::Interface:</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L19">
              <td class="line-num" data-linenumber="19">
                <span class="linked-line" unselectable="on" data-linenumber="19"></span>
              </td>
              
              <td class="line_content">    <span class="s">ParameterGroups</span><span class="pi">:</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L20">
              <td class="line-num" data-linenumber="20">
                <span class="linked-line" unselectable="on" data-linenumber="20"></span>
              </td>
              
              <td class="line_content">      <span class="pi">-</span> <span class="na">Label</span><span class="pi">:</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L21">
              <td class="line-num" data-linenumber="21">
                <span class="linked-line" unselectable="on" data-linenumber="21"></span>
              </td>
              
              <td class="line_content">          <span class="na">default</span><span class="pi">:</span> <span class="s">Input Parameters</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L22">
              <td class="line-num" data-linenumber="22">
                <span class="linked-line" unselectable="on" data-linenumber="22"></span>
              </td>
              
              <td class="line_content">        <span class="na">Parameters</span><span class="pi">:</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L23">
              <td class="line-num" data-linenumber="23">
                <span class="linked-line" unselectable="on" data-linenumber="23"></span>
              </td>
              
              <td class="line_content">          <span class="pi">-</span> <span class="s">RedshiftClusterEndpoint</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L24">
              <td class="line-num" data-linenumber="24">
                <span class="linked-line" unselectable="on" data-linenumber="24"></span>
              </td>
              
              <td class="line_content">          <span class="pi">-</span> <span class="s">DbUsername</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L25">
              <td class="line-num" data-linenumber="25">
                <span class="linked-line" unselectable="on" data-linenumber="25"></span>
              </td>
              
              <td class="line_content">          <span class="pi">-</span> <span class="s">ETLScriptS3Path</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L26">
              <td class="line-num" data-linenumber="26">
                <span class="linked-line" unselectable="on" data-linenumber="26"></span>
              </td>
              
              <td class="line_content"><span class="na">Mappings</span><span class="pi">:</span>          
</td>
            </tr>
          
            
            <tr class="line_holder" id="L27">
              <td class="line-num" data-linenumber="27">
                <span class="linked-line" unselectable="on" data-linenumber="27"></span>
              </td>
              
              <td class="line_content">  <span class="na">Script</span><span class="pi">:</span> <span class="c1"># static values related to the Sales Data Pipeline. </span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L28">
              <td class="line-num" data-linenumber="28">
                <span class="linked-line" unselectable="on" data-linenumber="28"></span>
              </td>
              
              <td class="line_content">    <span class="na">Config</span><span class="pi">:</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L29">
              <td class="line-num" data-linenumber="29">
                <span class="linked-line" unselectable="on" data-linenumber="29"></span>
              </td>
              
              <td class="line_content">      <span class="na">SetupETLScript</span><span class="pi">:</span> <span class="s1">'</span><span class="s">setup_sales_data_pipeline.sql'</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L30">
              <td class="line-num" data-linenumber="30">
                <span class="linked-line" unselectable="on" data-linenumber="30"></span>
              </td>
              
              <td class="line_content">      <span class="na">ExecuteETLScript</span><span class="pi">:</span> <span class="s1">'</span><span class="s">run_sales_data_pipeline.sql'</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L31">
              <td class="line-num" data-linenumber="31">
                <span class="linked-line" unselectable="on" data-linenumber="31"></span>
              </td>
              
              <td class="line_content">      <span class="na">JobRunDate</span><span class="pi">:</span> <span class="s1">'</span><span class="s">2021-06-26'</span>   
</td>
            </tr>
          
            
            <tr class="line_holder" id="L32">
              <td class="line-num" data-linenumber="32">
                <span class="linked-line" unselectable="on" data-linenumber="32"></span>
              </td>
              
              <td class="line_content"><span class="na">Resources</span><span class="pi">:</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L33">
              <td class="line-num" data-linenumber="33">
                <span class="linked-line" unselectable="on" data-linenumber="33"></span>
              </td>
              
              <td class="line_content">  <span class="na">LambdaRedshiftBatchDataAPIRole</span><span class="pi">:</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L34">
              <td class="line-num" data-linenumber="34">
                <span class="linked-line" unselectable="on" data-linenumber="34"></span>
              </td>
              
              <td class="line_content">    <span class="na">Type</span><span class="pi">:</span> <span class="s1">'</span><span class="s">AWS::IAM::Role'</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L35">
              <td class="line-num" data-linenumber="35">
                <span class="linked-line" unselectable="on" data-linenumber="35"></span>
              </td>
              
              <td class="line_content">    <span class="na">Properties</span><span class="pi">:</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L36">
              <td class="line-num" data-linenumber="36">
                <span class="linked-line" unselectable="on" data-linenumber="36"></span>
              </td>
              
              <td class="line_content">      <span class="na">Description </span><span class="pi">:</span> <span class="s">IAM Role for lambda to access Redshift and execute the Data API</span>   
</td>
            </tr>
          
            
            <tr class="line_holder" id="L37">
              <td class="line-num" data-linenumber="37">
                <span class="linked-line" unselectable="on" data-linenumber="37"></span>
              </td>
              
              <td class="line_content">      <span class="na">AssumeRolePolicyDocument</span><span class="pi">:</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L38">
              <td class="line-num" data-linenumber="38">
                <span class="linked-line" unselectable="on" data-linenumber="38"></span>
              </td>
              
              <td class="line_content">        <span class="na">Statement</span><span class="pi">:</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L39">
              <td class="line-num" data-linenumber="39">
                <span class="linked-line" unselectable="on" data-linenumber="39"></span>
              </td>
              
              <td class="line_content">          <span class="pi">-</span> <span class="na">Action</span><span class="pi">:</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L40">
              <td class="line-num" data-linenumber="40">
                <span class="linked-line" unselectable="on" data-linenumber="40"></span>
              </td>
              
              <td class="line_content">              <span class="pi">-</span> <span class="s1">'</span><span class="s">sts:AssumeRole'</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L41">
              <td class="line-num" data-linenumber="41">
                <span class="linked-line" unselectable="on" data-linenumber="41"></span>
              </td>
              
              <td class="line_content">            <span class="na">Effect</span><span class="pi">:</span> <span class="s">Allow</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L42">
              <td class="line-num" data-linenumber="42">
                <span class="linked-line" unselectable="on" data-linenumber="42"></span>
              </td>
              
              <td class="line_content">            <span class="na">Principal</span><span class="pi">:</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L43">
              <td class="line-num" data-linenumber="43">
                <span class="linked-line" unselectable="on" data-linenumber="43"></span>
              </td>
              
              <td class="line_content">              <span class="na">Service</span><span class="pi">:</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L44">
              <td class="line-num" data-linenumber="44">
                <span class="linked-line" unselectable="on" data-linenumber="44"></span>
              </td>
              
              <td class="line_content">                <span class="pi">-</span> <span class="s">lambda.amazonaws.com</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L45">
              <td class="line-num" data-linenumber="45">
                <span class="linked-line" unselectable="on" data-linenumber="45"></span>
              </td>
              
              <td class="line_content">        <span class="na">Version</span><span class="pi">:</span> <span class="s">2012-10-17</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L46">
              <td class="line-num" data-linenumber="46">
                <span class="linked-line" unselectable="on" data-linenumber="46"></span>
              </td>
              
              <td class="line_content">      <span class="na">Path</span><span class="pi">:</span> <span class="s">/</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L47">
              <td class="line-num" data-linenumber="47">
                <span class="linked-line" unselectable="on" data-linenumber="47"></span>
              </td>
              
              <td class="line_content">      <span class="na">Policies</span><span class="pi">:</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L48">
              <td class="line-num" data-linenumber="48">
                <span class="linked-line" unselectable="on" data-linenumber="48"></span>
              </td>
              
              <td class="line_content">        <span class="pi">-</span> <span class="na">PolicyName</span><span class="pi">:</span> <span class="s">RedshiftBatchDataApiPolicy</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L49">
              <td class="line-num" data-linenumber="49">
                <span class="linked-line" unselectable="on" data-linenumber="49"></span>
              </td>
              
              <td class="line_content">          <span class="na">PolicyDocument</span><span class="pi">:</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L50">
              <td class="line-num" data-linenumber="50">
                <span class="linked-line" unselectable="on" data-linenumber="50"></span>
              </td>
              
              <td class="line_content">            <span class="na">Version</span><span class="pi">:</span> <span class="s">2012-10-17</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L51">
              <td class="line-num" data-linenumber="51">
                <span class="linked-line" unselectable="on" data-linenumber="51"></span>
              </td>
              
              <td class="line_content">            <span class="na">Statement</span><span class="pi">:</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L52">
              <td class="line-num" data-linenumber="52">
                <span class="linked-line" unselectable="on" data-linenumber="52"></span>
              </td>
              
              <td class="line_content">              <span class="pi">-</span> <span class="na">Effect</span><span class="pi">:</span> <span class="s">Allow</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L53">
              <td class="line-num" data-linenumber="53">
                <span class="linked-line" unselectable="on" data-linenumber="53"></span>
              </td>
              
              <td class="line_content">                <span class="na">Action</span><span class="pi">:</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L54">
              <td class="line-num" data-linenumber="54">
                <span class="linked-line" unselectable="on" data-linenumber="54"></span>
              </td>
              
              <td class="line_content">                  <span class="pi">-</span> <span class="s1">'</span><span class="s">redshift-data:BatchExecuteStatement'</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L55">
              <td class="line-num" data-linenumber="55">
                <span class="linked-line" unselectable="on" data-linenumber="55"></span>
              </td>
              
              <td class="line_content">                  <span class="pi">-</span> <span class="s1">'</span><span class="s">redshift-data:ListStatements'</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L56">
              <td class="line-num" data-linenumber="56">
                <span class="linked-line" unselectable="on" data-linenumber="56"></span>
              </td>
              
              <td class="line_content">                  <span class="pi">-</span> <span class="s1">'</span><span class="s">redshift-data:GetStatementResult'</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L57">
              <td class="line-num" data-linenumber="57">
                <span class="linked-line" unselectable="on" data-linenumber="57"></span>
              </td>
              
              <td class="line_content">                  <span class="pi">-</span> <span class="s1">'</span><span class="s">redshift-data:DescribeStatement'</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L58">
              <td class="line-num" data-linenumber="58">
                <span class="linked-line" unselectable="on" data-linenumber="58"></span>
              </td>
              
              <td class="line_content">                <span class="na">Resource</span><span class="pi">:</span> <span class="s1">'</span><span class="s">*'</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L59">
              <td class="line-num" data-linenumber="59">
                <span class="linked-line" unselectable="on" data-linenumber="59"></span>
              </td>
              
              <td class="line_content">              <span class="pi">-</span> <span class="na">Effect</span><span class="pi">:</span> <span class="s">Allow</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L60">
              <td class="line-num" data-linenumber="60">
                <span class="linked-line" unselectable="on" data-linenumber="60"></span>
              </td>
              
              <td class="line_content">                <span class="na">Action</span><span class="pi">:</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L61">
              <td class="line-num" data-linenumber="61">
                <span class="linked-line" unselectable="on" data-linenumber="61"></span>
              </td>
              
              <td class="line_content">                  <span class="pi">-</span> <span class="s1">'</span><span class="s">redshift:GetClusterCredentials'</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L62">
              <td class="line-num" data-linenumber="62">
                <span class="linked-line" unselectable="on" data-linenumber="62"></span>
              </td>
              
              <td class="line_content">                <span class="na">Resource</span><span class="pi">:</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L63">
              <td class="line-num" data-linenumber="63">
                <span class="linked-line" unselectable="on" data-linenumber="63"></span>
              </td>
              
              <td class="line_content">                  <span class="pi">-</span> <span class="kt">!Sub</span> 
</td>
            </tr>
          
            
            <tr class="line_holder" id="L64">
              <td class="line-num" data-linenumber="64">
                <span class="linked-line" unselectable="on" data-linenumber="64"></span>
              </td>
              
              <td class="line_content">                      <span class="pi">-</span> <span class="s">arn:aws:redshift:${AWS::Region}:${AWS::AccountId}:cluster:${SourceRedshiftClusterIdentifier}</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L65">
              <td class="line-num" data-linenumber="65">
                <span class="linked-line" unselectable="on" data-linenumber="65"></span>
              </td>
              
              <td class="line_content">                      <span class="pi">-</span> <span class="pi">{</span><span class="nv">SourceRedshiftClusterIdentifier</span><span class="pi">:</span> <span class="kt">!Select</span> <span class="pi">[</span><span class="nv">0</span><span class="pi">,</span> <span class="kt">!Split</span> <span class="pi">[</span><span class="s2">"</span><span class="s">."</span><span class="pi">,</span> <span class="kt">!Ref</span> <span class="nv">RedshiftClusterEndpoint</span><span class="pi">]]}</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L66">
              <td class="line-num" data-linenumber="66">
                <span class="linked-line" unselectable="on" data-linenumber="66"></span>
              </td>
              
              <td class="line_content">                  <span class="pi">-</span> <span class="kt">!Sub</span> 
</td>
            </tr>
          
            
            <tr class="line_holder" id="L67">
              <td class="line-num" data-linenumber="67">
                <span class="linked-line" unselectable="on" data-linenumber="67"></span>
              </td>
              
              <td class="line_content">                      <span class="pi">-</span> <span class="s">arn:aws:redshift:${AWS::Region}:${AWS::AccountId}:dbname:${SourceRedshiftClusterIdentifier}/${RedshiftDatabaseName}</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L68">
              <td class="line-num" data-linenumber="68">
                <span class="linked-line" unselectable="on" data-linenumber="68"></span>
              </td>
              
              <td class="line_content">                      <span class="pi">-</span> <span class="pi">{</span><span class="nv">SourceRedshiftClusterIdentifier</span><span class="pi">:</span> <span class="kt">!Select</span> <span class="pi">[</span><span class="nv">0</span><span class="pi">,</span> <span class="kt">!Split</span> <span class="pi">[</span><span class="s2">"</span><span class="s">."</span><span class="pi">,</span> <span class="kt">!Ref</span> <span class="nv">RedshiftClusterEndpoint</span><span class="pi">]],</span><span class="nv">RedshiftDatabaseName</span><span class="pi">:</span> <span class="kt">!Select</span> <span class="pi">[</span><span class="nv">1</span><span class="pi">,</span> <span class="kt">!Split</span> <span class="pi">[</span><span class="s2">"</span><span class="s">/"</span><span class="pi">,</span> <span class="kt">!Ref</span> <span class="nv">RedshiftClusterEndpoint</span><span class="pi">]]}</span>   
</td>
            </tr>
          
            
            <tr class="line_holder" id="L69">
              <td class="line-num" data-linenumber="69">
                <span class="linked-line" unselectable="on" data-linenumber="69"></span>
              </td>
              
              <td class="line_content">                  <span class="pi">-</span> <span class="kt">!Sub</span> 
</td>
            </tr>
          
            
            <tr class="line_holder" id="L70">
              <td class="line-num" data-linenumber="70">
                <span class="linked-line" unselectable="on" data-linenumber="70"></span>
              </td>
              
              <td class="line_content">                      <span class="pi">-</span> <span class="s">arn:aws:redshift:${AWS::Region}:${AWS::AccountId}:dbuser:${SourceRedshiftClusterIdentifier}/${DbUsername}</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L71">
              <td class="line-num" data-linenumber="71">
                <span class="linked-line" unselectable="on" data-linenumber="71"></span>
              </td>
              
              <td class="line_content">                      <span class="pi">-</span> <span class="pi">{</span><span class="nv">SourceRedshiftClusterIdentifier</span><span class="pi">:</span> <span class="kt">!Select</span> <span class="pi">[</span><span class="nv">0</span><span class="pi">,</span> <span class="kt">!Split</span> <span class="pi">[</span><span class="s2">"</span><span class="s">."</span><span class="pi">,</span> <span class="kt">!Ref</span> <span class="nv">RedshiftClusterEndpoint</span><span class="pi">]]}</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L72">
              <td class="line-num" data-linenumber="72">
                <span class="linked-line" unselectable="on" data-linenumber="72"></span>
              </td>
              
              <td class="line_content">        <span class="pi">-</span> <span class="na">PolicyName</span><span class="pi">:</span> <span class="s">ETLScriptS3AccessPolicy</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L73">
              <td class="line-num" data-linenumber="73">
                <span class="linked-line" unselectable="on" data-linenumber="73"></span>
              </td>
              
              <td class="line_content">          <span class="na">PolicyDocument</span><span class="pi">:</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L74">
              <td class="line-num" data-linenumber="74">
                <span class="linked-line" unselectable="on" data-linenumber="74"></span>
              </td>
              
              <td class="line_content">            <span class="na">Version</span><span class="pi">:</span> <span class="s">2012-10-17</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L75">
              <td class="line-num" data-linenumber="75">
                <span class="linked-line" unselectable="on" data-linenumber="75"></span>
              </td>
              
              <td class="line_content">            <span class="na">Statement</span><span class="pi">:</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L76">
              <td class="line-num" data-linenumber="76">
                <span class="linked-line" unselectable="on" data-linenumber="76"></span>
              </td>
              
              <td class="line_content">              <span class="pi">-</span> <span class="na">Effect</span><span class="pi">:</span> <span class="s">Allow</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L77">
              <td class="line-num" data-linenumber="77">
                <span class="linked-line" unselectable="on" data-linenumber="77"></span>
              </td>
              
              <td class="line_content">                <span class="na">Action</span><span class="pi">:</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L78">
              <td class="line-num" data-linenumber="78">
                <span class="linked-line" unselectable="on" data-linenumber="78"></span>
              </td>
              
              <td class="line_content">                  <span class="pi">-</span> <span class="s1">'</span><span class="s">s3:GetBucketLocation'</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L79">
              <td class="line-num" data-linenumber="79">
                <span class="linked-line" unselectable="on" data-linenumber="79"></span>
              </td>
              
              <td class="line_content">                  <span class="pi">-</span> <span class="s1">'</span><span class="s">s3:GetObject'</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L80">
              <td class="line-num" data-linenumber="80">
                <span class="linked-line" unselectable="on" data-linenumber="80"></span>
              </td>
              
              <td class="line_content">                  <span class="pi">-</span> <span class="s1">'</span><span class="s">s3:ListBucket'</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L81">
              <td class="line-num" data-linenumber="81">
                <span class="linked-line" unselectable="on" data-linenumber="81"></span>
              </td>
              
              <td class="line_content">                <span class="na">Resource</span><span class="pi">:</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L82">
              <td class="line-num" data-linenumber="82">
                <span class="linked-line" unselectable="on" data-linenumber="82"></span>
              </td>
              
              <td class="line_content">                  <span class="pi">-</span> <span class="kt">!Sub</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L83">
              <td class="line-num" data-linenumber="83">
                <span class="linked-line" unselectable="on" data-linenumber="83"></span>
              </td>
              
              <td class="line_content">                      <span class="pi">-</span> <span class="s">arn:aws:s3:::${ETLScriptS3Bucket}/*</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L84">
              <td class="line-num" data-linenumber="84">
                <span class="linked-line" unselectable="on" data-linenumber="84"></span>
              </td>
              
              <td class="line_content">                      <span class="pi">-</span> <span class="pi">{</span><span class="nv">ETLScriptS3Bucket</span><span class="pi">:</span> <span class="kt">!Select</span> <span class="pi">[</span><span class="nv">2</span><span class="pi">,</span> <span class="kt">!Split</span> <span class="pi">[</span><span class="s2">"</span><span class="s">/"</span><span class="pi">,</span> <span class="kt">!Ref</span> <span class="nv">ETLScriptS3Path</span><span class="pi">]]}</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L85">
              <td class="line-num" data-linenumber="85">
                <span class="linked-line" unselectable="on" data-linenumber="85"></span>
              </td>
              
              <td class="line_content">                  <span class="pi">-</span> <span class="kt">!Sub</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L86">
              <td class="line-num" data-linenumber="86">
                <span class="linked-line" unselectable="on" data-linenumber="86"></span>
              </td>
              
              <td class="line_content">                      <span class="pi">-</span> <span class="s">arn:aws:s3:::${ETLScriptS3Bucket}</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L87">
              <td class="line-num" data-linenumber="87">
                <span class="linked-line" unselectable="on" data-linenumber="87"></span>
              </td>
              
              <td class="line_content">                      <span class="pi">-</span> <span class="pi">{</span><span class="nv">ETLScriptS3Bucket</span><span class="pi">:</span> <span class="kt">!Select</span> <span class="pi">[</span><span class="nv">2</span><span class="pi">,</span> <span class="kt">!Split</span> <span class="pi">[</span><span class="s2">"</span><span class="s">/"</span><span class="pi">,</span> <span class="kt">!Ref</span> <span class="nv">ETLScriptS3Path</span><span class="pi">]]}</span>                  
</td>
            </tr>
          
            
            <tr class="line_holder" id="L88">
              <td class="line-num" data-linenumber="88">
                <span class="linked-line" unselectable="on" data-linenumber="88"></span>
              </td>
              
              <td class="line_content">      <span class="na">ManagedPolicyArns</span><span class="pi">:</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L89">
              <td class="line-num" data-linenumber="89">
                <span class="linked-line" unselectable="on" data-linenumber="89"></span>
              </td>
              
              <td class="line_content">        <span class="pi">-</span> <span class="s1">'</span><span class="s">arn:aws:iam::aws:policy/AWSLambdaExecute'</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L90">
              <td class="line-num" data-linenumber="90">
                <span class="linked-line" unselectable="on" data-linenumber="90"></span>
              </td>
              
              <td class="line_content">  <span class="na">LambdaRedshiftBatchDataAPI</span><span class="pi">:</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L91">
              <td class="line-num" data-linenumber="91">
                <span class="linked-line" unselectable="on" data-linenumber="91"></span>
              </td>
              
              <td class="line_content">    <span class="na">Type</span><span class="pi">:</span> <span class="s1">'</span><span class="s">AWS::Lambda::Function'</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L92">
              <td class="line-num" data-linenumber="92">
                <span class="linked-line" unselectable="on" data-linenumber="92"></span>
              </td>
              
              <td class="line_content">    <span class="na">Properties</span><span class="pi">:</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L93">
              <td class="line-num" data-linenumber="93">
                <span class="linked-line" unselectable="on" data-linenumber="93"></span>
              </td>
              
              <td class="line_content">      <span class="na">FunctionName</span><span class="pi">:</span> <span class="s">redshift_batch_data_api</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L94">
              <td class="line-num" data-linenumber="94">
                <span class="linked-line" unselectable="on" data-linenumber="94"></span>
              </td>
              
              <td class="line_content">      <span class="na">Description </span><span class="pi">:</span> <span class="s">Lambda function to asynchronously call SQL statements with Amazon Redshift Data API.</span>    
</td>
            </tr>
          
            
            <tr class="line_holder" id="L95">
              <td class="line-num" data-linenumber="95">
                <span class="linked-line" unselectable="on" data-linenumber="95"></span>
              </td>
              
              <td class="line_content">      <span class="na">Handler</span><span class="pi">:</span> <span class="s">index.handler</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L96">
              <td class="line-num" data-linenumber="96">
                <span class="linked-line" unselectable="on" data-linenumber="96"></span>
              </td>
              
              <td class="line_content">      <span class="na">Runtime</span><span class="pi">:</span> <span class="s">python3.8</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L97">
              <td class="line-num" data-linenumber="97">
                <span class="linked-line" unselectable="on" data-linenumber="97"></span>
              </td>
              
              <td class="line_content">      <span class="na">Timeout</span><span class="pi">:</span> <span class="m">300</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L98">
              <td class="line-num" data-linenumber="98">
                <span class="linked-line" unselectable="on" data-linenumber="98"></span>
              </td>
              
              <td class="line_content">      <span class="na">Role</span><span class="pi">:</span> <span class="kt">!GetAtt</span> <span class="s">LambdaRedshiftBatchDataAPIRole.Arn</span>      
</td>
            </tr>
          
            
            <tr class="line_holder" id="L99">
              <td class="line-num" data-linenumber="99">
                <span class="linked-line" unselectable="on" data-linenumber="99"></span>
              </td>
              
              <td class="line_content">      <span class="na">Environment</span><span class="pi">:</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L100">
              <td class="line-num" data-linenumber="100">
                <span class="linked-line" unselectable="on" data-linenumber="100"></span>
              </td>
              
              <td class="line_content">        <span class="na">Variables</span><span class="pi">:</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L101">
              <td class="line-num" data-linenumber="101">
                <span class="linked-line" unselectable="on" data-linenumber="101"></span>
              </td>
              
              <td class="line_content">          <span class="na">redshift_cluster_identifier</span><span class="pi">:</span> <span class="kt">!Sub</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L102">
              <td class="line-num" data-linenumber="102">
                <span class="linked-line" unselectable="on" data-linenumber="102"></span>
              </td>
              
              <td class="line_content">            <span class="pi">-</span> <span class="s">${SourceRedshiftClusterIdentifier}</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L103">
              <td class="line-num" data-linenumber="103">
                <span class="linked-line" unselectable="on" data-linenumber="103"></span>
              </td>
              
              <td class="line_content">            <span class="pi">-</span> <span class="pi">{</span><span class="nv">SourceRedshiftClusterIdentifier</span><span class="pi">:</span> <span class="kt">!Select</span> <span class="pi">[</span><span class="nv">0</span><span class="pi">,</span> <span class="kt">!Split</span> <span class="pi">[</span><span class="s2">"</span><span class="s">."</span><span class="pi">,</span> <span class="kt">!Ref</span> <span class="nv">RedshiftClusterEndpoint</span><span class="pi">]]}</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L104">
              <td class="line-num" data-linenumber="104">
                <span class="linked-line" unselectable="on" data-linenumber="104"></span>
              </td>
              
              <td class="line_content">          <span class="na">redshift_database_name</span><span class="pi">:</span> <span class="kt">!Sub</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L105">
              <td class="line-num" data-linenumber="105">
                <span class="linked-line" unselectable="on" data-linenumber="105"></span>
              </td>
              
              <td class="line_content">            <span class="pi">-</span> <span class="s">${RedshiftDatabaseName}</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L106">
              <td class="line-num" data-linenumber="106">
                <span class="linked-line" unselectable="on" data-linenumber="106"></span>
              </td>
              
              <td class="line_content">            <span class="pi">-</span> <span class="pi">{</span><span class="nv">RedshiftDatabaseName</span><span class="pi">:</span> <span class="kt">!Select</span> <span class="pi">[</span><span class="nv">1</span><span class="pi">,</span> <span class="kt">!Split</span> <span class="pi">[</span><span class="s2">"</span><span class="s">/"</span><span class="pi">,</span> <span class="kt">!Ref</span> <span class="nv">RedshiftClusterEndpoint</span><span class="pi">]]}</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L107">
              <td class="line-num" data-linenumber="107">
                <span class="linked-line" unselectable="on" data-linenumber="107"></span>
              </td>
              
              <td class="line_content">          <span class="na">redshift_database_user</span><span class="pi">:</span> <span class="kt">!Ref</span> <span class="s">DbUsername</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L108">
              <td class="line-num" data-linenumber="108">
                <span class="linked-line" unselectable="on" data-linenumber="108"></span>
              </td>
              
              <td class="line_content">          <span class="na">job_run_date</span><span class="pi">:</span> <span class="kt">!FindInMap</span> <span class="pi">[</span><span class="nv">Script</span><span class="pi">,</span> <span class="nv">Config</span><span class="pi">,</span> <span class="nv">JobRunDate</span><span class="pi">]</span>    
</td>
            </tr>
          
            
            <tr class="line_holder" id="L109">
              <td class="line-num" data-linenumber="109">
                <span class="linked-line" unselectable="on" data-linenumber="109"></span>
              </td>
              
              <td class="line_content">      <span class="na">Code</span><span class="pi">:</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L110">
              <td class="line-num" data-linenumber="110">
                <span class="linked-line" unselectable="on" data-linenumber="110"></span>
              </td>
              
              <td class="line_content">        <span class="na">ZipFile</span><span class="pi">:</span> <span class="pi">|</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L111">
              <td class="line-num" data-linenumber="111">
                <span class="linked-line" unselectable="on" data-linenumber="111"></span>
              </td>
              
              <td class="line_content">          <span class="s">import os</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L112">
              <td class="line-num" data-linenumber="112">
                <span class="linked-line" unselectable="on" data-linenumber="112"></span>
              </td>
              
              <td class="line_content">          <span class="s">import sys</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L113">
              <td class="line-num" data-linenumber="113">
                <span class="linked-line" unselectable="on" data-linenumber="113"></span>
              </td>
              
              <td class="line_content">          <span class="s">import json</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L114">
              <td class="line-num" data-linenumber="114">
                <span class="linked-line" unselectable="on" data-linenumber="114"></span>
              </td>
              
              <td class="line_content">          <span class="s">from pathlib import Path</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L115">
              <td class="line-num" data-linenumber="115">
                <span class="linked-line" unselectable="on" data-linenumber="115"></span>
              </td>
              
              <td class="line_content">          <span class="s">from pip._internal import main</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L116">
              <td class="line-num" data-linenumber="116">
                <span class="linked-line" unselectable="on" data-linenumber="116"></span>
              </td>
              
              <td class="line_content">          <span class="s"># install latest version of boto3</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L117">
              <td class="line-num" data-linenumber="117">
                <span class="linked-line" unselectable="on" data-linenumber="117"></span>
              </td>
              
              <td class="line_content">          <span class="s">main(['install', '-I', '-q', 'boto3', '--target', '/tmp/','--no-cache-dir', '--disable-pip-version-check'])</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L118">
              <td class="line-num" data-linenumber="118">
                <span class="linked-line" unselectable="on" data-linenumber="118"></span>
              </td>
              
              <td class="line_content">          <span class="s">sys.path.insert(0, '/tmp/')   </span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L119">
              <td class="line-num" data-linenumber="119">
                <span class="linked-line" unselectable="on" data-linenumber="119"></span>
              </td>
              
              <td class="line_content">          <span class="s">import boto3</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L120">
              <td class="line-num" data-linenumber="120">
                <span class="linked-line" unselectable="on" data-linenumber="120"></span>
              </td>
              
              <td class="line_content">        
</td>
            </tr>
          
            
            <tr class="line_holder" id="L121">
              <td class="line-num" data-linenumber="121">
                <span class="linked-line" unselectable="on" data-linenumber="121"></span>
              </td>
              
              <td class="line_content">          <span class="s">redshift_client = boto3.client('redshift-data') </span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L122">
              <td class="line-num" data-linenumber="122">
                <span class="linked-line" unselectable="on" data-linenumber="122"></span>
              </td>
              
              <td class="line_content">          <span class="s">s3_client  = boto3.client('s3')</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L123">
              <td class="line-num" data-linenumber="123">
                <span class="linked-line" unselectable="on" data-linenumber="123"></span>
              </td>
              
              <td class="line_content">        
</td>
            </tr>
          
            
            <tr class="line_holder" id="L124">
              <td class="line-num" data-linenumber="124">
                <span class="linked-line" unselectable="on" data-linenumber="124"></span>
              </td>
              
              <td class="line_content">          <span class="s">def get_sql_script_from_s3(script_s3_path):</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L125">
              <td class="line-num" data-linenumber="125">
                <span class="linked-line" unselectable="on" data-linenumber="125"></span>
              </td>
              
              <td class="line_content">            <span class="s">bucket, key = script_s3_path.replace("s3://", "").split("/", 1)</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L126">
              <td class="line-num" data-linenumber="126">
                <span class="linked-line" unselectable="on" data-linenumber="126"></span>
              </td>
              
              <td class="line_content">            <span class="s">obj = s3_client.get_object(Bucket=bucket, Key=key)</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L127">
              <td class="line-num" data-linenumber="127">
                <span class="linked-line" unselectable="on" data-linenumber="127"></span>
              </td>
              
              <td class="line_content">            <span class="s">return obj['Body'].read().decode('utf-8')</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L128">
              <td class="line-num" data-linenumber="128">
                <span class="linked-line" unselectable="on" data-linenumber="128"></span>
              </td>
              
              <td class="line_content">    
</td>
            </tr>
          
            
            <tr class="line_holder" id="L129">
              <td class="line-num" data-linenumber="129">
                <span class="linked-line" unselectable="on" data-linenumber="129"></span>
              </td>
              
              <td class="line_content">          <span class="s">def split_sql_statement(script_s3_path, job_run_date):</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L130">
              <td class="line-num" data-linenumber="130">
                <span class="linked-line" unselectable="on" data-linenumber="130"></span>
              </td>
              
              <td class="line_content">            <span class="s">script = get_sql_script_from_s3(script_s3_path).format(job_run_date=job_run_date)</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L131">
              <td class="line-num" data-linenumber="131">
                <span class="linked-line" unselectable="on" data-linenumber="131"></span>
              </td>
              
              <td class="line_content">    
</td>
            </tr>
          
            
            <tr class="line_holder" id="L132">
              <td class="line-num" data-linenumber="132">
                <span class="linked-line" unselectable="on" data-linenumber="132"></span>
              </td>
              
              <td class="line_content">            <span class="s">sql_statements = list(filter(None, script.split(';')))</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L133">
              <td class="line-num" data-linenumber="133">
                <span class="linked-line" unselectable="on" data-linenumber="133"></span>
              </td>
              
              <td class="line_content">            <span class="s">return sql_statements</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L134">
              <td class="line-num" data-linenumber="134">
                <span class="linked-line" unselectable="on" data-linenumber="134"></span>
              </td>
              
              <td class="line_content">
</td>
            </tr>
          
            
            <tr class="line_holder" id="L135">
              <td class="line-num" data-linenumber="135">
                <span class="linked-line" unselectable="on" data-linenumber="135"></span>
              </td>
              
              <td class="line_content">          <span class="s">def run_batch_sql(redshift_config, sql_statements, statement_name):</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L136">
              <td class="line-num" data-linenumber="136">
                <span class="linked-line" unselectable="on" data-linenumber="136"></span>
              </td>
              
              <td class="line_content">            <span class="s"># execute the input SQL statement in the specified Amazon Redshift cluster</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L137">
              <td class="line-num" data-linenumber="137">
                <span class="linked-line" unselectable="on" data-linenumber="137"></span>
              </td>
              
              <td class="line_content">            <span class="s">api_response = redshift_client.batch_execute_statement(ClusterIdentifier=redshift_config["redshift_cluster_id"]</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L138">
              <td class="line-num" data-linenumber="138">
                <span class="linked-line" unselectable="on" data-linenumber="138"></span>
              </td>
              
              <td class="line_content">                                                                  <span class="s">,Database=redshift_config["redshift_database"]</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L139">
              <td class="line-num" data-linenumber="139">
                <span class="linked-line" unselectable="on" data-linenumber="139"></span>
              </td>
              
              <td class="line_content">                                                                  <span class="s">,DbUser=redshift_config["redshift_user"]</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L140">
              <td class="line-num" data-linenumber="140">
                <span class="linked-line" unselectable="on" data-linenumber="140"></span>
              </td>
              
              <td class="line_content">                                                                  <span class="s">,Sqls=sql_statements</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L141">
              <td class="line-num" data-linenumber="141">
                <span class="linked-line" unselectable="on" data-linenumber="141"></span>
              </td>
              
              <td class="line_content">                                                                  <span class="s">,StatementName=statement_name)</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L142">
              <td class="line-num" data-linenumber="142">
                <span class="linked-line" unselectable="on" data-linenumber="142"></span>
              </td>
              
              <td class="line_content">
</td>
            </tr>
          
            
            <tr class="line_holder" id="L143">
              <td class="line-num" data-linenumber="143">
                <span class="linked-line" unselectable="on" data-linenumber="143"></span>
              </td>
              
              <td class="line_content">            <span class="s"># return the sql_batch_id (a universally unique identifier generated by Amazon Redshift Data API)</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L144">
              <td class="line-num" data-linenumber="144">
                <span class="linked-line" unselectable="on" data-linenumber="144"></span>
              </td>
              
              <td class="line_content">            <span class="s">sql_batch_id = api_response["Id"]</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L145">
              <td class="line-num" data-linenumber="145">
                <span class="linked-line" unselectable="on" data-linenumber="145"></span>
              </td>
              
              <td class="line_content">            <span class="s">return sql_batch_id</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L146">
              <td class="line-num" data-linenumber="146">
                <span class="linked-line" unselectable="on" data-linenumber="146"></span>
              </td>
              
              <td class="line_content">    
</td>
            </tr>
          
            
            <tr class="line_holder" id="L147">
              <td class="line-num" data-linenumber="147">
                <span class="linked-line" unselectable="on" data-linenumber="147"></span>
              </td>
              
              <td class="line_content">          <span class="s">def get_sql_status(sql_id):</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L148">
              <td class="line-num" data-linenumber="148">
                <span class="linked-line" unselectable="on" data-linenumber="148"></span>
              </td>
              
              <td class="line_content">            <span class="s">desc = redshift_client.describe_statement(Id=sql_id)</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L149">
              <td class="line-num" data-linenumber="149">
                <span class="linked-line" unselectable="on" data-linenumber="149"></span>
              </td>
              
              <td class="line_content">            <span class="s">status = desc["Status"]</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L150">
              <td class="line-num" data-linenumber="150">
                <span class="linked-line" unselectable="on" data-linenumber="150"></span>
              </td>
              
              <td class="line_content">
</td>
            </tr>
          
            
            <tr class="line_holder" id="L151">
              <td class="line-num" data-linenumber="151">
                <span class="linked-line" unselectable="on" data-linenumber="151"></span>
              </td>
              
              <td class="line_content">            <span class="s">if status == "FAILED":</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L152">
              <td class="line-num" data-linenumber="152">
                <span class="linked-line" unselectable="on" data-linenumber="152"></span>
              </td>
              
              <td class="line_content">                <span class="s">raise Exception('SQL query failed:' + sql_id + ": " + desc["Error"])</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L153">
              <td class="line-num" data-linenumber="153">
                <span class="linked-line" unselectable="on" data-linenumber="153"></span>
              </td>
              
              <td class="line_content">            <span class="s">return status.strip('"')         </span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L154">
              <td class="line-num" data-linenumber="154">
                <span class="linked-line" unselectable="on" data-linenumber="154"></span>
              </td>
              
              <td class="line_content">
</td>
            </tr>
          
            
            <tr class="line_holder" id="L155">
              <td class="line-num" data-linenumber="155">
                <span class="linked-line" unselectable="on" data-linenumber="155"></span>
              </td>
              
              <td class="line_content">          <span class="s">def handler(event, context):</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L156">
              <td class="line-num" data-linenumber="156">
                <span class="linked-line" unselectable="on" data-linenumber="156"></span>
              </td>
              
              <td class="line_content">            <span class="s"># action to be taken by the lambda function. </span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L157">
              <td class="line-num" data-linenumber="157">
                <span class="linked-line" unselectable="on" data-linenumber="157"></span>
              </td>
              
              <td class="line_content">            <span class="s"># Allowed values: [setup_sales_data_pipeline, run_sales_data_pipeline, get_sql_status"]</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L158">
              <td class="line-num" data-linenumber="158">
                <span class="linked-line" unselectable="on" data-linenumber="158"></span>
              </td>
              
              <td class="line_content">            <span class="s">action = event['Input'].get('action')</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L159">
              <td class="line-num" data-linenumber="159">
                <span class="linked-line" unselectable="on" data-linenumber="159"></span>
              </td>
              
              <td class="line_content">    
</td>
            </tr>
          
            
            <tr class="line_holder" id="L160">
              <td class="line-num" data-linenumber="160">
                <span class="linked-line" unselectable="on" data-linenumber="160"></span>
              </td>
              
              <td class="line_content">            <span class="s">try:</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L161">
              <td class="line-num" data-linenumber="161">
                <span class="linked-line" unselectable="on" data-linenumber="161"></span>
              </td>
              
              <td class="line_content">                <span class="s">if action in ('setup_sales_data_pipeline','run_sales_data_pipeline'):</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L162">
              <td class="line-num" data-linenumber="162">
                <span class="linked-line" unselectable="on" data-linenumber="162"></span>
              </td>
              
              <td class="line_content">                    <span class="s">redshift_config = {}</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L163">
              <td class="line-num" data-linenumber="163">
                <span class="linked-line" unselectable="on" data-linenumber="163"></span>
              </td>
              
              <td class="line_content">          <span class="no">  </span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L164">
              <td class="line-num" data-linenumber="164">
                <span class="linked-line" unselectable="on" data-linenumber="164"></span>
              </td>
              
              <td class="line_content">                    <span class="s"># Get Database Credentials</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L165">
              <td class="line-num" data-linenumber="165">
                <span class="linked-line" unselectable="on" data-linenumber="165"></span>
              </td>
              
              <td class="line_content">                    <span class="s"># cluster identifier for the Amazon Redshift cluster</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L166">
              <td class="line-num" data-linenumber="166">
                <span class="linked-line" unselectable="on" data-linenumber="166"></span>
              </td>
              
              <td class="line_content">                    <span class="s">redshift_config["redshift_cluster_id"] = os.getenv('redshift_cluster_identifier')</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L167">
              <td class="line-num" data-linenumber="167">
                <span class="linked-line" unselectable="on" data-linenumber="167"></span>
              </td>
              
              <td class="line_content">                    <span class="s"># database name for the Amazon Redshift cluster</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L168">
              <td class="line-num" data-linenumber="168">
                <span class="linked-line" unselectable="on" data-linenumber="168"></span>
              </td>
              
              <td class="line_content">                    <span class="s">redshift_config["redshift_database"] = os.getenv('redshift_database_name')</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L169">
              <td class="line-num" data-linenumber="169">
                <span class="linked-line" unselectable="on" data-linenumber="169"></span>
              </td>
              
              <td class="line_content">                    <span class="s"># database user in the Amazon Redshift cluster with access to execute relevant SQL queries</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L170">
              <td class="line-num" data-linenumber="170">
                <span class="linked-line" unselectable="on" data-linenumber="170"></span>
              </td>
              
              <td class="line_content">                    <span class="s">redshift_config["redshift_user"] = os.getenv('redshift_database_user')</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L171">
              <td class="line-num" data-linenumber="171">
                <span class="linked-line" unselectable="on" data-linenumber="171"></span>
              </td>
              
              <td class="line_content">          <span class="no">  </span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L172">
              <td class="line-num" data-linenumber="172">
                <span class="linked-line" unselectable="on" data-linenumber="172"></span>
              </td>
              
              <td class="line_content">                    <span class="s"># Get details to run the script</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L173">
              <td class="line-num" data-linenumber="173">
                <span class="linked-line" unselectable="on" data-linenumber="173"></span>
              </td>
              
              <td class="line_content">                    <span class="s">job_run_date = os.getenv('job_run_date')</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L174">
              <td class="line-num" data-linenumber="174">
                <span class="linked-line" unselectable="on" data-linenumber="174"></span>
              </td>
              
              <td class="line_content">                    <span class="s">etl_script_s3_path = event['Input'].get('etl_script_s3_path')</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L175">
              <td class="line-num" data-linenumber="175">
                <span class="linked-line" unselectable="on" data-linenumber="175"></span>
              </td>
              
              <td class="line_content">                    <span class="s">sql_statements = split_sql_statement(etl_script_s3_path, job_run_date)</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L176">
              <td class="line-num" data-linenumber="176">
                <span class="linked-line" unselectable="on" data-linenumber="176"></span>
              </td>
              
              <td class="line_content">                    <span class="s">statement_name = Path(etl_script_s3_path).name</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L177">
              <td class="line-num" data-linenumber="177">
                <span class="linked-line" unselectable="on" data-linenumber="177"></span>
              </td>
              
              <td class="line_content">          <span class="no">  </span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L178">
              <td class="line-num" data-linenumber="178">
                <span class="linked-line" unselectable="on" data-linenumber="178"></span>
              </td>
              
              <td class="line_content">                    <span class="s"># execute the input SQL statement in the specified Amazon Redshift cluster</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L179">
              <td class="line-num" data-linenumber="179">
                <span class="linked-line" unselectable="on" data-linenumber="179"></span>
              </td>
              
              <td class="line_content">                    <span class="s">sql_batch_id = run_batch_sql(redshift_config, sql_statements, statement_name)</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L180">
              <td class="line-num" data-linenumber="180">
                <span class="linked-line" unselectable="on" data-linenumber="180"></span>
              </td>
              
              <td class="line_content">                    <span class="s">api_response = {'sql_batch_id': sql_batch_id}</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L181">
              <td class="line-num" data-linenumber="181">
                <span class="linked-line" unselectable="on" data-linenumber="181"></span>
              </td>
              
              <td class="line_content">                <span class="s">elif action == "get_sql_status":</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L182">
              <td class="line-num" data-linenumber="182">
                <span class="linked-line" unselectable="on" data-linenumber="182"></span>
              </td>
              
              <td class="line_content">                    <span class="s"># sql_batch_id to input for action get_sql_status</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L183">
              <td class="line-num" data-linenumber="183">
                <span class="linked-line" unselectable="on" data-linenumber="183"></span>
              </td>
              
              <td class="line_content">                    <span class="s">sql_batch_id = event['Input'].get('sql_batch_id')            </span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L184">
              <td class="line-num" data-linenumber="184">
                <span class="linked-line" unselectable="on" data-linenumber="184"></span>
              </td>
              
              <td class="line_content">                    <span class="s"># get status of a previously executed data api call</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L185">
              <td class="line-num" data-linenumber="185">
                <span class="linked-line" unselectable="on" data-linenumber="185"></span>
              </td>
              
              <td class="line_content">                    <span class="s">api_status = get_sql_status(sql_batch_id)</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L186">
              <td class="line-num" data-linenumber="186">
                <span class="linked-line" unselectable="on" data-linenumber="186"></span>
              </td>
              
              <td class="line_content">          <span class="no">  </span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L187">
              <td class="line-num" data-linenumber="187">
                <span class="linked-line" unselectable="on" data-linenumber="187"></span>
              </td>
              
              <td class="line_content">                    <span class="s">api_response = {'status': api_status}</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L188">
              <td class="line-num" data-linenumber="188">
                <span class="linked-line" unselectable="on" data-linenumber="188"></span>
              </td>
              
              <td class="line_content">                <span class="s">else:</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L189">
              <td class="line-num" data-linenumber="189">
                <span class="linked-line" unselectable="on" data-linenumber="189"></span>
              </td>
              
              <td class="line_content">                    <span class="s">raise ValueError("Invalid Action: " + action)</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L190">
              <td class="line-num" data-linenumber="190">
                <span class="linked-line" unselectable="on" data-linenumber="190"></span>
              </td>
              
              <td class="line_content">            <span class="s">except NameError as error:</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L191">
              <td class="line-num" data-linenumber="191">
                <span class="linked-line" unselectable="on" data-linenumber="191"></span>
              </td>
              
              <td class="line_content">                <span class="s">raise NameError(error)</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L192">
              <td class="line-num" data-linenumber="192">
                <span class="linked-line" unselectable="on" data-linenumber="192"></span>
              </td>
              
              <td class="line_content">            <span class="s">except Exception as exception:</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L193">
              <td class="line-num" data-linenumber="193">
                <span class="linked-line" unselectable="on" data-linenumber="193"></span>
              </td>
              
              <td class="line_content">                <span class="s">error_message = "Encountered exeption on:" + action + ":" + str(exception)</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L194">
              <td class="line-num" data-linenumber="194">
                <span class="linked-line" unselectable="on" data-linenumber="194"></span>
              </td>
              
              <td class="line_content">                <span class="s">raise Exception(error_message)          </span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L195">
              <td class="line-num" data-linenumber="195">
                <span class="linked-line" unselectable="on" data-linenumber="195"></span>
              </td>
              
              <td class="line_content">            <span class="s">return api_response</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L196">
              <td class="line-num" data-linenumber="196">
                <span class="linked-line" unselectable="on" data-linenumber="196"></span>
              </td>
              
              <td class="line_content">  <span class="na">StateMachineExecutionRole</span><span class="pi">:</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L197">
              <td class="line-num" data-linenumber="197">
                <span class="linked-line" unselectable="on" data-linenumber="197"></span>
              </td>
              
              <td class="line_content">    <span class="na">Type</span><span class="pi">:</span> <span class="s1">'</span><span class="s">AWS::IAM::Role'</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L198">
              <td class="line-num" data-linenumber="198">
                <span class="linked-line" unselectable="on" data-linenumber="198"></span>
              </td>
              
              <td class="line_content">    <span class="na">Properties</span><span class="pi">:</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L199">
              <td class="line-num" data-linenumber="199">
                <span class="linked-line" unselectable="on" data-linenumber="199"></span>
              </td>
              
              <td class="line_content">      <span class="na">Description </span><span class="pi">:</span> <span class="s">IAM Role for the state machine in step function to allow invocation of the lambda function</span>      
</td>
            </tr>
          
            
            <tr class="line_holder" id="L200">
              <td class="line-num" data-linenumber="200">
                <span class="linked-line" unselectable="on" data-linenumber="200"></span>
              </td>
              
              <td class="line_content">      <span class="na">AssumeRolePolicyDocument</span><span class="pi">:</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L201">
              <td class="line-num" data-linenumber="201">
                <span class="linked-line" unselectable="on" data-linenumber="201"></span>
              </td>
              
              <td class="line_content">        <span class="na">Version</span><span class="pi">:</span> <span class="s">2012-10-17</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L202">
              <td class="line-num" data-linenumber="202">
                <span class="linked-line" unselectable="on" data-linenumber="202"></span>
              </td>
              
              <td class="line_content">        <span class="na">Statement</span><span class="pi">:</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L203">
              <td class="line-num" data-linenumber="203">
                <span class="linked-line" unselectable="on" data-linenumber="203"></span>
              </td>
              
              <td class="line_content">          <span class="pi">-</span> <span class="na">Effect</span><span class="pi">:</span> <span class="s">Allow</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L204">
              <td class="line-num" data-linenumber="204">
                <span class="linked-line" unselectable="on" data-linenumber="204"></span>
              </td>
              
              <td class="line_content">            <span class="na">Principal</span><span class="pi">:</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L205">
              <td class="line-num" data-linenumber="205">
                <span class="linked-line" unselectable="on" data-linenumber="205"></span>
              </td>
              
              <td class="line_content">              <span class="na">Service</span><span class="pi">:</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L206">
              <td class="line-num" data-linenumber="206">
                <span class="linked-line" unselectable="on" data-linenumber="206"></span>
              </td>
              
              <td class="line_content">                <span class="pi">-</span> <span class="kt">!Sub</span> <span class="s1">'</span><span class="s">states.${AWS::Region}.amazonaws.com'</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L207">
              <td class="line-num" data-linenumber="207">
                <span class="linked-line" unselectable="on" data-linenumber="207"></span>
              </td>
              
              <td class="line_content">            <span class="na">Action</span><span class="pi">:</span> <span class="s1">'</span><span class="s">sts:AssumeRole'</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L208">
              <td class="line-num" data-linenumber="208">
                <span class="linked-line" unselectable="on" data-linenumber="208"></span>
              </td>
              
              <td class="line_content">      <span class="na">Path</span><span class="pi">:</span> <span class="s">/</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L209">
              <td class="line-num" data-linenumber="209">
                <span class="linked-line" unselectable="on" data-linenumber="209"></span>
              </td>
              
              <td class="line_content">      <span class="na">Policies</span><span class="pi">:</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L210">
              <td class="line-num" data-linenumber="210">
                <span class="linked-line" unselectable="on" data-linenumber="210"></span>
              </td>
              
              <td class="line_content">        <span class="pi">-</span> <span class="na">PolicyName</span><span class="pi">:</span> <span class="s">StatesExecutionPolicy</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L211">
              <td class="line-num" data-linenumber="211">
                <span class="linked-line" unselectable="on" data-linenumber="211"></span>
              </td>
              
              <td class="line_content">          <span class="na">PolicyDocument</span><span class="pi">:</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L212">
              <td class="line-num" data-linenumber="212">
                <span class="linked-line" unselectable="on" data-linenumber="212"></span>
              </td>
              
              <td class="line_content">            <span class="na">Version</span><span class="pi">:</span> <span class="s">2012-10-17</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L213">
              <td class="line-num" data-linenumber="213">
                <span class="linked-line" unselectable="on" data-linenumber="213"></span>
              </td>
              
              <td class="line_content">            <span class="na">Statement</span><span class="pi">:</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L214">
              <td class="line-num" data-linenumber="214">
                <span class="linked-line" unselectable="on" data-linenumber="214"></span>
              </td>
              
              <td class="line_content">              <span class="pi">-</span> <span class="na">Effect</span><span class="pi">:</span> <span class="s">Allow</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L215">
              <td class="line-num" data-linenumber="215">
                <span class="linked-line" unselectable="on" data-linenumber="215"></span>
              </td>
              
              <td class="line_content">                <span class="na">Action</span><span class="pi">:</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L216">
              <td class="line-num" data-linenumber="216">
                <span class="linked-line" unselectable="on" data-linenumber="216"></span>
              </td>
              
              <td class="line_content">                  <span class="pi">-</span> <span class="s1">'</span><span class="s">lambda:InvokeFunction'</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L217">
              <td class="line-num" data-linenumber="217">
                <span class="linked-line" unselectable="on" data-linenumber="217"></span>
              </td>
              
              <td class="line_content">                <span class="na">Resource</span><span class="pi">:</span> 
</td>
            </tr>
          
            
            <tr class="line_holder" id="L218">
              <td class="line-num" data-linenumber="218">
                <span class="linked-line" unselectable="on" data-linenumber="218"></span>
              </td>
              
              <td class="line_content">                  <span class="pi">-</span> <span class="kt">!GetAtt</span> <span class="s">LambdaRedshiftBatchDataAPI.Arn</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L219">
              <td class="line-num" data-linenumber="219">
                <span class="linked-line" unselectable="on" data-linenumber="219"></span>
              </td>
              
              <td class="line_content">              <span class="pi">-</span> <span class="na">Effect</span><span class="pi">:</span> <span class="s">Allow</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L220">
              <td class="line-num" data-linenumber="220">
                <span class="linked-line" unselectable="on" data-linenumber="220"></span>
              </td>
              
              <td class="line_content">                <span class="na">Action</span><span class="pi">:</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L221">
              <td class="line-num" data-linenumber="221">
                <span class="linked-line" unselectable="on" data-linenumber="221"></span>
              </td>
              
              <td class="line_content">                  <span class="pi">-</span> <span class="s1">'</span><span class="s">lambda:InvokeFunction'</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L222">
              <td class="line-num" data-linenumber="222">
                <span class="linked-line" unselectable="on" data-linenumber="222"></span>
              </td>
              
              <td class="line_content">                <span class="na">Resource</span><span class="pi">:</span> 
</td>
            </tr>
          
            
            <tr class="line_holder" id="L223">
              <td class="line-num" data-linenumber="223">
                <span class="linked-line" unselectable="on" data-linenumber="223"></span>
              </td>
              
              <td class="line_content">                  <span class="pi">-</span> <span class="kt">!Sub</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L224">
              <td class="line-num" data-linenumber="224">
                <span class="linked-line" unselectable="on" data-linenumber="224"></span>
              </td>
              
              <td class="line_content">                      <span class="pi">-</span> <span class="s">${LambdaRedshiftBatchDataAPIArn}:*</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L225">
              <td class="line-num" data-linenumber="225">
                <span class="linked-line" unselectable="on" data-linenumber="225"></span>
              </td>
              
              <td class="line_content">                      <span class="pi">-</span> <span class="pi">{</span><span class="nv">LambdaRedshiftBatchDataAPIArn</span><span class="pi">:</span> <span class="kt">!GetAtt</span> <span class="nv">LambdaRedshiftBatchDataAPI.Arn</span><span class="pi">}</span>      
</td>
            </tr>
          
            
            <tr class="line_holder" id="L226">
              <td class="line-num" data-linenumber="226">
                <span class="linked-line" unselectable="on" data-linenumber="226"></span>
              </td>
              
              <td class="line_content">  <span class="na">RedshiftETLStepFunction</span><span class="pi">:</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L227">
              <td class="line-num" data-linenumber="227">
                <span class="linked-line" unselectable="on" data-linenumber="227"></span>
              </td>
              
              <td class="line_content">    <span class="na">Type</span><span class="pi">:</span> <span class="s1">'</span><span class="s">AWS::StepFunctions::StateMachine'</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L228">
              <td class="line-num" data-linenumber="228">
                <span class="linked-line" unselectable="on" data-linenumber="228"></span>
              </td>
              
              <td class="line_content">    <span class="na">Properties</span><span class="pi">:</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L229">
              <td class="line-num" data-linenumber="229">
                <span class="linked-line" unselectable="on" data-linenumber="229"></span>
              </td>
              
              <td class="line_content">      <span class="na">DefinitionString</span><span class="pi">:</span> <span class="kt">!Sub</span> 
</td>
            </tr>
          
            
            <tr class="line_holder" id="L230">
              <td class="line-num" data-linenumber="230">
                <span class="linked-line" unselectable="on" data-linenumber="230"></span>
              </td>
              
              <td class="line_content">        <span class="pi">-</span> <span class="pi">|-</span>   
</td>
            </tr>
          
            
            <tr class="line_holder" id="L231">
              <td class="line-num" data-linenumber="231">
                <span class="linked-line" unselectable="on" data-linenumber="231"></span>
              </td>
              
              <td class="line_content">          <span class="s">{</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L232">
              <td class="line-num" data-linenumber="232">
                <span class="linked-line" unselectable="on" data-linenumber="232"></span>
              </td>
              
              <td class="line_content">            <span class="s">"Comment": "A simple ETL workflow for loading dimension and fact tables",</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L233">
              <td class="line-num" data-linenumber="233">
                <span class="linked-line" unselectable="on" data-linenumber="233"></span>
              </td>
              
              <td class="line_content">            <span class="s">"StartAt": "setup_sales_data_pipeline",</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L234">
              <td class="line-num" data-linenumber="234">
                <span class="linked-line" unselectable="on" data-linenumber="234"></span>
              </td>
              
              <td class="line_content">            <span class="s">"States": {</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L235">
              <td class="line-num" data-linenumber="235">
                <span class="linked-line" unselectable="on" data-linenumber="235"></span>
              </td>
              
              <td class="line_content">                <span class="s">"setup_sales_data_pipeline": {</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L236">
              <td class="line-num" data-linenumber="236">
                <span class="linked-line" unselectable="on" data-linenumber="236"></span>
              </td>
              
              <td class="line_content">                    <span class="s">"Comment": "Invoke lambda function",</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L237">
              <td class="line-num" data-linenumber="237">
                <span class="linked-line" unselectable="on" data-linenumber="237"></span>
              </td>
              
              <td class="line_content">                    <span class="s">"Type": "Task",</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L238">
              <td class="line-num" data-linenumber="238">
                <span class="linked-line" unselectable="on" data-linenumber="238"></span>
              </td>
              
              <td class="line_content">                    <span class="s">"Resource": "arn:aws:states:::lambda:invoke",</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L239">
              <td class="line-num" data-linenumber="239">
                <span class="linked-line" unselectable="on" data-linenumber="239"></span>
              </td>
              
              <td class="line_content">                    <span class="s">"TimeoutSeconds": 300,</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L240">
              <td class="line-num" data-linenumber="240">
                <span class="linked-line" unselectable="on" data-linenumber="240"></span>
              </td>
              
              <td class="line_content">                    <span class="s">"HeartbeatSeconds": 60,</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L241">
              <td class="line-num" data-linenumber="241">
                <span class="linked-line" unselectable="on" data-linenumber="241"></span>
              </td>
              
              <td class="line_content">                    <span class="s">"ResultPath": "$.sql_output",</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L242">
              <td class="line-num" data-linenumber="242">
                <span class="linked-line" unselectable="on" data-linenumber="242"></span>
              </td>
              
              <td class="line_content">                    <span class="s">"ResultSelector": {</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L243">
              <td class="line-num" data-linenumber="243">
                <span class="linked-line" unselectable="on" data-linenumber="243"></span>
              </td>
              
              <td class="line_content">                    <span class="s">"output.$": "$.Payload"</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L244">
              <td class="line-num" data-linenumber="244">
                <span class="linked-line" unselectable="on" data-linenumber="244"></span>
              </td>
              
              <td class="line_content">                    <span class="s">},</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L245">
              <td class="line-num" data-linenumber="245">
                <span class="linked-line" unselectable="on" data-linenumber="245"></span>
              </td>
              
              <td class="line_content">                    <span class="s">"Parameters": {</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L246">
              <td class="line-num" data-linenumber="246">
                <span class="linked-line" unselectable="on" data-linenumber="246"></span>
              </td>
              
              <td class="line_content">                        <span class="s">"FunctionName": "${BatchDataAPILambdaArn}:$LATEST",</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L247">
              <td class="line-num" data-linenumber="247">
                <span class="linked-line" unselectable="on" data-linenumber="247"></span>
              </td>
              
              <td class="line_content">                        <span class="s">"Payload": {</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L248">
              <td class="line-num" data-linenumber="248">
                <span class="linked-line" unselectable="on" data-linenumber="248"></span>
              </td>
              
              <td class="line_content">                            <span class="s">"Input": {</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L249">
              <td class="line-num" data-linenumber="249">
                <span class="linked-line" unselectable="on" data-linenumber="249"></span>
              </td>
              
              <td class="line_content">                                <span class="s">"action": "setup_sales_data_pipeline",</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L250">
              <td class="line-num" data-linenumber="250">
                <span class="linked-line" unselectable="on" data-linenumber="250"></span>
              </td>
              
              <td class="line_content">                                <span class="s">"etl_script_s3_path": "${ETLScriptS3Path}${SetupETLScriptFilename}"</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L251">
              <td class="line-num" data-linenumber="251">
                <span class="linked-line" unselectable="on" data-linenumber="251"></span>
              </td>
              
              <td class="line_content">                            <span class="s">}</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L252">
              <td class="line-num" data-linenumber="252">
                <span class="linked-line" unselectable="on" data-linenumber="252"></span>
              </td>
              
              <td class="line_content">                        <span class="s">}</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L253">
              <td class="line-num" data-linenumber="253">
                <span class="linked-line" unselectable="on" data-linenumber="253"></span>
              </td>
              
              <td class="line_content">                    <span class="s">},</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L254">
              <td class="line-num" data-linenumber="254">
                <span class="linked-line" unselectable="on" data-linenumber="254"></span>
              </td>
              
              <td class="line_content">                    <span class="s">"Next": "wait_on_setup_sales_data_pipeline"</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L255">
              <td class="line-num" data-linenumber="255">
                <span class="linked-line" unselectable="on" data-linenumber="255"></span>
              </td>
              
              <td class="line_content">                <span class="s">},</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L256">
              <td class="line-num" data-linenumber="256">
                <span class="linked-line" unselectable="on" data-linenumber="256"></span>
              </td>
              
              <td class="line_content">                <span class="s">"wait_on_setup_sales_data_pipeline": {</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L257">
              <td class="line-num" data-linenumber="257">
                <span class="linked-line" unselectable="on" data-linenumber="257"></span>
              </td>
              
              <td class="line_content">                    <span class="s">"Comment": "Wait before status check",</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L258">
              <td class="line-num" data-linenumber="258">
                <span class="linked-line" unselectable="on" data-linenumber="258"></span>
              </td>
              
              <td class="line_content">                    <span class="s">"Type": "Wait",</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L259">
              <td class="line-num" data-linenumber="259">
                <span class="linked-line" unselectable="on" data-linenumber="259"></span>
              </td>
              
              <td class="line_content">                    <span class="s">"Seconds": 10,</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L260">
              <td class="line-num" data-linenumber="260">
                <span class="linked-line" unselectable="on" data-linenumber="260"></span>
              </td>
              
              <td class="line_content">                    <span class="s">"Next": "setup_sales_data_pipeline_status_check"</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L261">
              <td class="line-num" data-linenumber="261">
                <span class="linked-line" unselectable="on" data-linenumber="261"></span>
              </td>
              
              <td class="line_content">                <span class="s">},</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L262">
              <td class="line-num" data-linenumber="262">
                <span class="linked-line" unselectable="on" data-linenumber="262"></span>
              </td>
              
              <td class="line_content">                <span class="s">"setup_sales_data_pipeline_status_check": {</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L263">
              <td class="line-num" data-linenumber="263">
                <span class="linked-line" unselectable="on" data-linenumber="263"></span>
              </td>
              
              <td class="line_content">                    <span class="s">"Comment": "Check Task Status",</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L264">
              <td class="line-num" data-linenumber="264">
                <span class="linked-line" unselectable="on" data-linenumber="264"></span>
              </td>
              
              <td class="line_content">                    <span class="s">"Type": "Task",</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L265">
              <td class="line-num" data-linenumber="265">
                <span class="linked-line" unselectable="on" data-linenumber="265"></span>
              </td>
              
              <td class="line_content">                    <span class="s">"Resource": "arn:aws:states:::lambda:invoke",</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L266">
              <td class="line-num" data-linenumber="266">
                <span class="linked-line" unselectable="on" data-linenumber="266"></span>
              </td>
              
              <td class="line_content">                    <span class="s">"TimeoutSeconds": 300,</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L267">
              <td class="line-num" data-linenumber="267">
                <span class="linked-line" unselectable="on" data-linenumber="267"></span>
              </td>
              
              <td class="line_content">                    <span class="s">"HeartbeatSeconds": 60,</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L268">
              <td class="line-num" data-linenumber="268">
                <span class="linked-line" unselectable="on" data-linenumber="268"></span>
              </td>
              
              <td class="line_content">                    <span class="s">"ResultPath": "$.step_output",</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L269">
              <td class="line-num" data-linenumber="269">
                <span class="linked-line" unselectable="on" data-linenumber="269"></span>
              </td>
              
              <td class="line_content">                    <span class="s">"ResultSelector": {</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L270">
              <td class="line-num" data-linenumber="270">
                <span class="linked-line" unselectable="on" data-linenumber="270"></span>
              </td>
              
              <td class="line_content">                        <span class="s">"output.$": "$.Payload"</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L271">
              <td class="line-num" data-linenumber="271">
                <span class="linked-line" unselectable="on" data-linenumber="271"></span>
              </td>
              
              <td class="line_content">                    <span class="s">},</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L272">
              <td class="line-num" data-linenumber="272">
                <span class="linked-line" unselectable="on" data-linenumber="272"></span>
              </td>
              
              <td class="line_content">                    <span class="s">"Parameters": {</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L273">
              <td class="line-num" data-linenumber="273">
                <span class="linked-line" unselectable="on" data-linenumber="273"></span>
              </td>
              
              <td class="line_content">                        <span class="s">"FunctionName": "${BatchDataAPILambdaArn}:$LATEST",</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L274">
              <td class="line-num" data-linenumber="274">
                <span class="linked-line" unselectable="on" data-linenumber="274"></span>
              </td>
              
              <td class="line_content">                        <span class="s">"Payload": {</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L275">
              <td class="line-num" data-linenumber="275">
                <span class="linked-line" unselectable="on" data-linenumber="275"></span>
              </td>
              
              <td class="line_content">                            <span class="s">"Input": {</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L276">
              <td class="line-num" data-linenumber="276">
                <span class="linked-line" unselectable="on" data-linenumber="276"></span>
              </td>
              
              <td class="line_content">                                <span class="s">"action": "get_sql_status",</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L277">
              <td class="line-num" data-linenumber="277">
                <span class="linked-line" unselectable="on" data-linenumber="277"></span>
              </td>
              
              <td class="line_content">                                <span class="s">"sql_batch_id.$": "$.sql_output.output.sql_batch_id"</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L278">
              <td class="line-num" data-linenumber="278">
                <span class="linked-line" unselectable="on" data-linenumber="278"></span>
              </td>
              
              <td class="line_content">                            <span class="s">}</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L279">
              <td class="line-num" data-linenumber="279">
                <span class="linked-line" unselectable="on" data-linenumber="279"></span>
              </td>
              
              <td class="line_content">                        <span class="s">}</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L280">
              <td class="line-num" data-linenumber="280">
                <span class="linked-line" unselectable="on" data-linenumber="280"></span>
              </td>
              
              <td class="line_content">                    <span class="s">},</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L281">
              <td class="line-num" data-linenumber="281">
                <span class="linked-line" unselectable="on" data-linenumber="281"></span>
              </td>
              
              <td class="line_content">                    <span class="s">"Next": "is_setup_sales_data_pipeline_complete"</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L282">
              <td class="line-num" data-linenumber="282">
                <span class="linked-line" unselectable="on" data-linenumber="282"></span>
              </td>
              
              <td class="line_content">                <span class="s">},</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L283">
              <td class="line-num" data-linenumber="283">
                <span class="linked-line" unselectable="on" data-linenumber="283"></span>
              </td>
              
              <td class="line_content">                <span class="s">"is_setup_sales_data_pipeline_complete": {</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L284">
              <td class="line-num" data-linenumber="284">
                <span class="linked-line" unselectable="on" data-linenumber="284"></span>
              </td>
              
              <td class="line_content">                    <span class="s">"Comment": "check if previous step is complete",</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L285">
              <td class="line-num" data-linenumber="285">
                <span class="linked-line" unselectable="on" data-linenumber="285"></span>
              </td>
              
              <td class="line_content">                    <span class="s">"Type": "Choice",</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L286">
              <td class="line-num" data-linenumber="286">
                <span class="linked-line" unselectable="on" data-linenumber="286"></span>
              </td>
              
              <td class="line_content">                    <span class="s">"Choices": [</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L287">
              <td class="line-num" data-linenumber="287">
                <span class="linked-line" unselectable="on" data-linenumber="287"></span>
              </td>
              
              <td class="line_content">                        <span class="s">{</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L288">
              <td class="line-num" data-linenumber="288">
                <span class="linked-line" unselectable="on" data-linenumber="288"></span>
              </td>
              
              <td class="line_content">                            <span class="s">"Variable": "$.step_output.output.status",</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L289">
              <td class="line-num" data-linenumber="289">
                <span class="linked-line" unselectable="on" data-linenumber="289"></span>
              </td>
              
              <td class="line_content">                            <span class="s">"StringEquals": "FAILED",</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L290">
              <td class="line-num" data-linenumber="290">
                <span class="linked-line" unselectable="on" data-linenumber="290"></span>
              </td>
              
              <td class="line_content">                            <span class="s">"Next": "sales_data_pipeline_failure"</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L291">
              <td class="line-num" data-linenumber="291">
                <span class="linked-line" unselectable="on" data-linenumber="291"></span>
              </td>
              
              <td class="line_content">                        <span class="s">},</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L292">
              <td class="line-num" data-linenumber="292">
                <span class="linked-line" unselectable="on" data-linenumber="292"></span>
              </td>
              
              <td class="line_content">                        <span class="s">{</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L293">
              <td class="line-num" data-linenumber="293">
                <span class="linked-line" unselectable="on" data-linenumber="293"></span>
              </td>
              
              <td class="line_content">                            <span class="s">"Variable": "$.step_output.output.status",</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L294">
              <td class="line-num" data-linenumber="294">
                <span class="linked-line" unselectable="on" data-linenumber="294"></span>
              </td>
              
              <td class="line_content">                            <span class="s">"StringEquals": "FINISHED",</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L295">
              <td class="line-num" data-linenumber="295">
                <span class="linked-line" unselectable="on" data-linenumber="295"></span>
              </td>
              
              <td class="line_content">                            <span class="s">"Next": "run_sales_data_pipeline"</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L296">
              <td class="line-num" data-linenumber="296">
                <span class="linked-line" unselectable="on" data-linenumber="296"></span>
              </td>
              
              <td class="line_content">                        <span class="s">}</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L297">
              <td class="line-num" data-linenumber="297">
                <span class="linked-line" unselectable="on" data-linenumber="297"></span>
              </td>
              
              <td class="line_content">                    <span class="s">],</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L298">
              <td class="line-num" data-linenumber="298">
                <span class="linked-line" unselectable="on" data-linenumber="298"></span>
              </td>
              
              <td class="line_content">                    <span class="s">"Default": "wait_on_setup_sales_data_pipeline"</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L299">
              <td class="line-num" data-linenumber="299">
                <span class="linked-line" unselectable="on" data-linenumber="299"></span>
              </td>
              
              <td class="line_content">                <span class="s">},</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L300">
              <td class="line-num" data-linenumber="300">
                <span class="linked-line" unselectable="on" data-linenumber="300"></span>
              </td>
              
              <td class="line_content">                <span class="s">"run_sales_data_pipeline": {</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L301">
              <td class="line-num" data-linenumber="301">
                <span class="linked-line" unselectable="on" data-linenumber="301"></span>
              </td>
              
              <td class="line_content">                    <span class="s">"Comment": "Invoke lambda function",</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L302">
              <td class="line-num" data-linenumber="302">
                <span class="linked-line" unselectable="on" data-linenumber="302"></span>
              </td>
              
              <td class="line_content">                    <span class="s">"Type": "Task",</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L303">
              <td class="line-num" data-linenumber="303">
                <span class="linked-line" unselectable="on" data-linenumber="303"></span>
              </td>
              
              <td class="line_content">                    <span class="s">"Resource": "arn:aws:states:::lambda:invoke",</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L304">
              <td class="line-num" data-linenumber="304">
                <span class="linked-line" unselectable="on" data-linenumber="304"></span>
              </td>
              
              <td class="line_content">                    <span class="s">"TimeoutSeconds": 300,</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L305">
              <td class="line-num" data-linenumber="305">
                <span class="linked-line" unselectable="on" data-linenumber="305"></span>
              </td>
              
              <td class="line_content">                    <span class="s">"HeartbeatSeconds": 60,</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L306">
              <td class="line-num" data-linenumber="306">
                <span class="linked-line" unselectable="on" data-linenumber="306"></span>
              </td>
              
              <td class="line_content">                    <span class="s">"ResultPath": "$.sql_output",</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L307">
              <td class="line-num" data-linenumber="307">
                <span class="linked-line" unselectable="on" data-linenumber="307"></span>
              </td>
              
              <td class="line_content">                    <span class="s">"ResultSelector": {</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L308">
              <td class="line-num" data-linenumber="308">
                <span class="linked-line" unselectable="on" data-linenumber="308"></span>
              </td>
              
              <td class="line_content">                        <span class="s">"output.$": "$.Payload"</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L309">
              <td class="line-num" data-linenumber="309">
                <span class="linked-line" unselectable="on" data-linenumber="309"></span>
              </td>
              
              <td class="line_content">                    <span class="s">},</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L310">
              <td class="line-num" data-linenumber="310">
                <span class="linked-line" unselectable="on" data-linenumber="310"></span>
              </td>
              
              <td class="line_content">                    <span class="s">"Parameters": {</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L311">
              <td class="line-num" data-linenumber="311">
                <span class="linked-line" unselectable="on" data-linenumber="311"></span>
              </td>
              
              <td class="line_content">                        <span class="s">"FunctionName": "${BatchDataAPILambdaArn}:$LATEST",</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L312">
              <td class="line-num" data-linenumber="312">
                <span class="linked-line" unselectable="on" data-linenumber="312"></span>
              </td>
              
              <td class="line_content">                        <span class="s">"Payload": {</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L313">
              <td class="line-num" data-linenumber="313">
                <span class="linked-line" unselectable="on" data-linenumber="313"></span>
              </td>
              
              <td class="line_content">                            <span class="s">"Input": {</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L314">
              <td class="line-num" data-linenumber="314">
                <span class="linked-line" unselectable="on" data-linenumber="314"></span>
              </td>
              
              <td class="line_content">                                <span class="s">"action": "run_sales_data_pipeline",</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L315">
              <td class="line-num" data-linenumber="315">
                <span class="linked-line" unselectable="on" data-linenumber="315"></span>
              </td>
              
              <td class="line_content">                                <span class="s">"etl_script_s3_path": "${ETLScriptS3Path}${ExecuteETLScriptFilename}"</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L316">
              <td class="line-num" data-linenumber="316">
                <span class="linked-line" unselectable="on" data-linenumber="316"></span>
              </td>
              
              <td class="line_content">                            <span class="s">}</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L317">
              <td class="line-num" data-linenumber="317">
                <span class="linked-line" unselectable="on" data-linenumber="317"></span>
              </td>
              
              <td class="line_content">                        <span class="s">}</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L318">
              <td class="line-num" data-linenumber="318">
                <span class="linked-line" unselectable="on" data-linenumber="318"></span>
              </td>
              
              <td class="line_content">                    <span class="s">},</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L319">
              <td class="line-num" data-linenumber="319">
                <span class="linked-line" unselectable="on" data-linenumber="319"></span>
              </td>
              
              <td class="line_content">                    <span class="s">"Next": "wait_on_run_sales_data_pipeline"</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L320">
              <td class="line-num" data-linenumber="320">
                <span class="linked-line" unselectable="on" data-linenumber="320"></span>
              </td>
              
              <td class="line_content">                <span class="s">},</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L321">
              <td class="line-num" data-linenumber="321">
                <span class="linked-line" unselectable="on" data-linenumber="321"></span>
              </td>
              
              <td class="line_content">                <span class="s">"wait_on_run_sales_data_pipeline": {</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L322">
              <td class="line-num" data-linenumber="322">
                <span class="linked-line" unselectable="on" data-linenumber="322"></span>
              </td>
              
              <td class="line_content">                    <span class="s">"Comment": "Wait before status check",</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L323">
              <td class="line-num" data-linenumber="323">
                <span class="linked-line" unselectable="on" data-linenumber="323"></span>
              </td>
              
              <td class="line_content">                    <span class="s">"Type": "Wait",</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L324">
              <td class="line-num" data-linenumber="324">
                <span class="linked-line" unselectable="on" data-linenumber="324"></span>
              </td>
              
              <td class="line_content">                    <span class="s">"Seconds": 10,</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L325">
              <td class="line-num" data-linenumber="325">
                <span class="linked-line" unselectable="on" data-linenumber="325"></span>
              </td>
              
              <td class="line_content">                    <span class="s">"Next": "run_sales_data_pipeline_status_check"</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L326">
              <td class="line-num" data-linenumber="326">
                <span class="linked-line" unselectable="on" data-linenumber="326"></span>
              </td>
              
              <td class="line_content">                <span class="s">},</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L327">
              <td class="line-num" data-linenumber="327">
                <span class="linked-line" unselectable="on" data-linenumber="327"></span>
              </td>
              
              <td class="line_content">                <span class="s">"run_sales_data_pipeline_status_check": {</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L328">
              <td class="line-num" data-linenumber="328">
                <span class="linked-line" unselectable="on" data-linenumber="328"></span>
              </td>
              
              <td class="line_content">                    <span class="s">"Comment": "Check Task Status",</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L329">
              <td class="line-num" data-linenumber="329">
                <span class="linked-line" unselectable="on" data-linenumber="329"></span>
              </td>
              
              <td class="line_content">                    <span class="s">"Type": "Task",</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L330">
              <td class="line-num" data-linenumber="330">
                <span class="linked-line" unselectable="on" data-linenumber="330"></span>
              </td>
              
              <td class="line_content">                    <span class="s">"Resource": "arn:aws:states:::lambda:invoke",</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L331">
              <td class="line-num" data-linenumber="331">
                <span class="linked-line" unselectable="on" data-linenumber="331"></span>
              </td>
              
              <td class="line_content">                    <span class="s">"TimeoutSeconds": 300,</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L332">
              <td class="line-num" data-linenumber="332">
                <span class="linked-line" unselectable="on" data-linenumber="332"></span>
              </td>
              
              <td class="line_content">                    <span class="s">"HeartbeatSeconds": 60,</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L333">
              <td class="line-num" data-linenumber="333">
                <span class="linked-line" unselectable="on" data-linenumber="333"></span>
              </td>
              
              <td class="line_content">                    <span class="s">"ResultPath": "$.step_output",</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L334">
              <td class="line-num" data-linenumber="334">
                <span class="linked-line" unselectable="on" data-linenumber="334"></span>
              </td>
              
              <td class="line_content">                    <span class="s">"ResultSelector": {</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L335">
              <td class="line-num" data-linenumber="335">
                <span class="linked-line" unselectable="on" data-linenumber="335"></span>
              </td>
              
              <td class="line_content">                        <span class="s">"output.$": "$.Payload"</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L336">
              <td class="line-num" data-linenumber="336">
                <span class="linked-line" unselectable="on" data-linenumber="336"></span>
              </td>
              
              <td class="line_content">                    <span class="s">},</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L337">
              <td class="line-num" data-linenumber="337">
                <span class="linked-line" unselectable="on" data-linenumber="337"></span>
              </td>
              
              <td class="line_content">                    <span class="s">"Parameters": {</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L338">
              <td class="line-num" data-linenumber="338">
                <span class="linked-line" unselectable="on" data-linenumber="338"></span>
              </td>
              
              <td class="line_content">                        <span class="s">"FunctionName": "${BatchDataAPILambdaArn}:$LATEST",</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L339">
              <td class="line-num" data-linenumber="339">
                <span class="linked-line" unselectable="on" data-linenumber="339"></span>
              </td>
              
              <td class="line_content">                        <span class="s">"Payload": {</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L340">
              <td class="line-num" data-linenumber="340">
                <span class="linked-line" unselectable="on" data-linenumber="340"></span>
              </td>
              
              <td class="line_content">                            <span class="s">"Input": {</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L341">
              <td class="line-num" data-linenumber="341">
                <span class="linked-line" unselectable="on" data-linenumber="341"></span>
              </td>
              
              <td class="line_content">                                <span class="s">"action": "get_sql_status",</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L342">
              <td class="line-num" data-linenumber="342">
                <span class="linked-line" unselectable="on" data-linenumber="342"></span>
              </td>
              
              <td class="line_content">                                <span class="s">"sql_batch_id.$": "$.sql_output.output.sql_batch_id"</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L343">
              <td class="line-num" data-linenumber="343">
                <span class="linked-line" unselectable="on" data-linenumber="343"></span>
              </td>
              
              <td class="line_content">                            <span class="s">}</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L344">
              <td class="line-num" data-linenumber="344">
                <span class="linked-line" unselectable="on" data-linenumber="344"></span>
              </td>
              
              <td class="line_content">                        <span class="s">}</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L345">
              <td class="line-num" data-linenumber="345">
                <span class="linked-line" unselectable="on" data-linenumber="345"></span>
              </td>
              
              <td class="line_content">                    <span class="s">},</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L346">
              <td class="line-num" data-linenumber="346">
                <span class="linked-line" unselectable="on" data-linenumber="346"></span>
              </td>
              
              <td class="line_content">                    <span class="s">"Next": "is_run_sales_data_pipeline_complete"</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L347">
              <td class="line-num" data-linenumber="347">
                <span class="linked-line" unselectable="on" data-linenumber="347"></span>
              </td>
              
              <td class="line_content">                <span class="s">},</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L348">
              <td class="line-num" data-linenumber="348">
                <span class="linked-line" unselectable="on" data-linenumber="348"></span>
              </td>
              
              <td class="line_content">                <span class="s">"is_run_sales_data_pipeline_complete": {</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L349">
              <td class="line-num" data-linenumber="349">
                <span class="linked-line" unselectable="on" data-linenumber="349"></span>
              </td>
              
              <td class="line_content">                    <span class="s">"Comment": "check if previous step is complete",</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L350">
              <td class="line-num" data-linenumber="350">
                <span class="linked-line" unselectable="on" data-linenumber="350"></span>
              </td>
              
              <td class="line_content">                    <span class="s">"Type": "Choice",</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L351">
              <td class="line-num" data-linenumber="351">
                <span class="linked-line" unselectable="on" data-linenumber="351"></span>
              </td>
              
              <td class="line_content">                    <span class="s">"Choices": [</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L352">
              <td class="line-num" data-linenumber="352">
                <span class="linked-line" unselectable="on" data-linenumber="352"></span>
              </td>
              
              <td class="line_content">                        <span class="s">{</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L353">
              <td class="line-num" data-linenumber="353">
                <span class="linked-line" unselectable="on" data-linenumber="353"></span>
              </td>
              
              <td class="line_content">                            <span class="s">"Variable": "$.step_output.output.status",</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L354">
              <td class="line-num" data-linenumber="354">
                <span class="linked-line" unselectable="on" data-linenumber="354"></span>
              </td>
              
              <td class="line_content">                            <span class="s">"StringEquals": "FAILED",</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L355">
              <td class="line-num" data-linenumber="355">
                <span class="linked-line" unselectable="on" data-linenumber="355"></span>
              </td>
              
              <td class="line_content">                            <span class="s">"Next": "sales_data_pipeline_failure"</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L356">
              <td class="line-num" data-linenumber="356">
                <span class="linked-line" unselectable="on" data-linenumber="356"></span>
              </td>
              
              <td class="line_content">                        <span class="s">},</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L357">
              <td class="line-num" data-linenumber="357">
                <span class="linked-line" unselectable="on" data-linenumber="357"></span>
              </td>
              
              <td class="line_content">                        <span class="s">{</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L358">
              <td class="line-num" data-linenumber="358">
                <span class="linked-line" unselectable="on" data-linenumber="358"></span>
              </td>
              
              <td class="line_content">                            <span class="s">"Variable": "$.step_output.output.status",</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L359">
              <td class="line-num" data-linenumber="359">
                <span class="linked-line" unselectable="on" data-linenumber="359"></span>
              </td>
              
              <td class="line_content">                            <span class="s">"StringEquals": "FINISHED",</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L360">
              <td class="line-num" data-linenumber="360">
                <span class="linked-line" unselectable="on" data-linenumber="360"></span>
              </td>
              
              <td class="line_content">                            <span class="s">"Next": "sales_data_pipeline_success"</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L361">
              <td class="line-num" data-linenumber="361">
                <span class="linked-line" unselectable="on" data-linenumber="361"></span>
              </td>
              
              <td class="line_content">                        <span class="s">}</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L362">
              <td class="line-num" data-linenumber="362">
                <span class="linked-line" unselectable="on" data-linenumber="362"></span>
              </td>
              
              <td class="line_content">                    <span class="s">],</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L363">
              <td class="line-num" data-linenumber="363">
                <span class="linked-line" unselectable="on" data-linenumber="363"></span>
              </td>
              
              <td class="line_content">                    <span class="s">"Default": "wait_on_run_sales_data_pipeline"</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L364">
              <td class="line-num" data-linenumber="364">
                <span class="linked-line" unselectable="on" data-linenumber="364"></span>
              </td>
              
              <td class="line_content">                <span class="s">},</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L365">
              <td class="line-num" data-linenumber="365">
                <span class="linked-line" unselectable="on" data-linenumber="365"></span>
              </td>
              
              <td class="line_content">                <span class="s">"sales_data_pipeline_failure": {</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L366">
              <td class="line-num" data-linenumber="366">
                <span class="linked-line" unselectable="on" data-linenumber="366"></span>
              </td>
              
              <td class="line_content">                    <span class="s">"Type": "Fail",</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L367">
              <td class="line-num" data-linenumber="367">
                <span class="linked-line" unselectable="on" data-linenumber="367"></span>
              </td>
              
              <td class="line_content">                    <span class="s">"Cause": "Failure on Sales Data Pipeline",</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L368">
              <td class="line-num" data-linenumber="368">
                <span class="linked-line" unselectable="on" data-linenumber="368"></span>
              </td>
              
              <td class="line_content">                    <span class="s">"Error": "Error"</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L369">
              <td class="line-num" data-linenumber="369">
                <span class="linked-line" unselectable="on" data-linenumber="369"></span>
              </td>
              
              <td class="line_content">                <span class="s">},</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L370">
              <td class="line-num" data-linenumber="370">
                <span class="linked-line" unselectable="on" data-linenumber="370"></span>
              </td>
              
              <td class="line_content">                <span class="s">"sales_data_pipeline_success": {</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L371">
              <td class="line-num" data-linenumber="371">
                <span class="linked-line" unselectable="on" data-linenumber="371"></span>
              </td>
              
              <td class="line_content">                    <span class="s">"Type": "Pass",</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L372">
              <td class="line-num" data-linenumber="372">
                <span class="linked-line" unselectable="on" data-linenumber="372"></span>
              </td>
              
              <td class="line_content">                    <span class="s">"Result": "sales_data_pipeline_success",</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L373">
              <td class="line-num" data-linenumber="373">
                <span class="linked-line" unselectable="on" data-linenumber="373"></span>
              </td>
              
              <td class="line_content">                    <span class="s">"End": true</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L374">
              <td class="line-num" data-linenumber="374">
                <span class="linked-line" unselectable="on" data-linenumber="374"></span>
              </td>
              
              <td class="line_content">                <span class="s">}</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L375">
              <td class="line-num" data-linenumber="375">
                <span class="linked-line" unselectable="on" data-linenumber="375"></span>
              </td>
              
              <td class="line_content">                <span class="s">}</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L376">
              <td class="line-num" data-linenumber="376">
                <span class="linked-line" unselectable="on" data-linenumber="376"></span>
              </td>
              
              <td class="line_content">            <span class="s">}</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L377">
              <td class="line-num" data-linenumber="377">
                <span class="linked-line" unselectable="on" data-linenumber="377"></span>
              </td>
              
              <td class="line_content">        <span class="pi">-</span> <span class="na">BatchDataAPILambdaArn</span><span class="pi">:</span> <span class="kt">!GetAtt</span> <span class="s">LambdaRedshiftBatchDataAPI.Arn</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L378">
              <td class="line-num" data-linenumber="378">
                <span class="linked-line" unselectable="on" data-linenumber="378"></span>
              </td>
              
              <td class="line_content">          <span class="na">SetupETLScriptFilename</span><span class="pi">:</span> <span class="kt">!FindInMap</span> <span class="pi">[</span><span class="nv">Script</span><span class="pi">,</span> <span class="nv">Config</span><span class="pi">,</span> <span class="nv">SetupETLScript</span><span class="pi">]</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L379">
              <td class="line-num" data-linenumber="379">
                <span class="linked-line" unselectable="on" data-linenumber="379"></span>
              </td>
              
              <td class="line_content">          <span class="na">ExecuteETLScriptFilename</span><span class="pi">:</span> <span class="kt">!FindInMap</span> <span class="pi">[</span><span class="nv">Script</span><span class="pi">,</span> <span class="nv">Config</span><span class="pi">,</span> <span class="nv">ExecuteETLScript</span><span class="pi">]</span>       
</td>
            </tr>
          
            
            <tr class="line_holder" id="L380">
              <td class="line-num" data-linenumber="380">
                <span class="linked-line" unselectable="on" data-linenumber="380"></span>
              </td>
              
              <td class="line_content">      <span class="na">RoleArn</span><span class="pi">:</span> <span class="kt">!GetAtt</span> <span class="s">StateMachineExecutionRole.Arn</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L381">
              <td class="line-num" data-linenumber="381">
                <span class="linked-line" unselectable="on" data-linenumber="381"></span>
              </td>
              
              <td class="line_content"><span class="na">Outputs</span><span class="pi">:</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L382">
              <td class="line-num" data-linenumber="382">
                <span class="linked-line" unselectable="on" data-linenumber="382"></span>
              </td>
              
              <td class="line_content">  <span class="na">RedshiftETLStepFunctionArn</span><span class="pi">:</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L383">
              <td class="line-num" data-linenumber="383">
                <span class="linked-line" unselectable="on" data-linenumber="383"></span>
              </td>
              
              <td class="line_content">    <span class="na">Description</span><span class="pi">:</span> <span class="s2">"</span><span class="s">The</span><span class="nv"> </span><span class="s">ARN</span><span class="nv"> </span><span class="s">of</span><span class="nv"> </span><span class="s">the</span><span class="nv"> </span><span class="s">step</span><span class="nv"> </span><span class="s">function</span><span class="nv"> </span><span class="s">used</span><span class="nv"> </span><span class="s">for</span><span class="nv"> </span><span class="s">ETL</span><span class="nv"> </span><span class="s">orchestration"</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L384">
              <td class="line-num" data-linenumber="384">
                <span class="linked-line" unselectable="on" data-linenumber="384"></span>
              </td>
              
              <td class="line_content">    <span class="na">Value</span><span class="pi">:</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L385">
              <td class="line-num" data-linenumber="385">
                <span class="linked-line" unselectable="on" data-linenumber="385"></span>
              </td>
              
              <td class="line_content">      <span class="na">Ref</span><span class="pi">:</span> <span class="s">RedshiftETLStepFunction</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L386">
              <td class="line-num" data-linenumber="386">
                <span class="linked-line" unselectable="on" data-linenumber="386"></span>
              </td>
              
              <td class="line_content">  <span class="na">LambdaRedshiftBatchDataAPI</span><span class="pi">:</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L387">
              <td class="line-num" data-linenumber="387">
                <span class="linked-line" unselectable="on" data-linenumber="387"></span>
              </td>
              
              <td class="line_content">    <span class="na">Description</span><span class="pi">:</span> <span class="s2">"</span><span class="s">The</span><span class="nv"> </span><span class="s">name</span><span class="nv"> </span><span class="s">of</span><span class="nv"> </span><span class="s">the</span><span class="nv"> </span><span class="s">Lambda</span><span class="nv"> </span><span class="s">Redshift</span><span class="nv"> </span><span class="s">Data</span><span class="nv"> </span><span class="s">API</span><span class="nv"> </span><span class="s">function"</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L388">
              <td class="line-num" data-linenumber="388">
                <span class="linked-line" unselectable="on" data-linenumber="388"></span>
              </td>
              
              <td class="line_content">    <span class="na">Value</span><span class="pi">:</span>
</td>
            </tr>
          
            
            <tr class="line_holder" id="L389">
              <td class="line-num" data-linenumber="389">
                <span class="linked-line" unselectable="on" data-linenumber="389"></span>
              </td>
              
              <td class="line_content">      <span class="na">Ref</span><span class="pi">:</span> <span class="s">LambdaRedshiftBatchDataAPI</span>
</td>
            </tr>
          
        </tbody>
      </table>
    </div>
  

</div>
</div>


</div>
<nav class='navbar navbar-default footer' role='navigation'>
<footer class='footer top-buffer' id='footer'>
<div class='col-sm-9 col-md-8 main'>
<h3>Packages</h3>
<ul class='unstyled'>
<li><a href="https://octane.amazon.com/package">Create Package</a></li>
<li><a href="/packages/find_by_team_for_user">All packages for my team</a></li>
</ul>
<h3>Commit Notifications</h3>
<ul class='unstyled'>
<li><a href="https://w.amazon.com/index.php/BuilderTools/Product/RevisionControl/CommitNotifications">RSS</a></li>
<li><a href="/commit-notifications">Email</a></li>
</ul>
</div>
<div class='col-sm-3 col-md-4 sidebar'>
<div class='business_card clearfix'>
<h3>Need help?</h3>
<ul class='unstyled'>
<li><a target="_blank" href="https://tiny.amazon.com/1bxu90lx3/codeacbug">Submit an Issue (problems or suggestions)</a></li>
<li><a target="_blank" href="https://builderhub.corp.amazon.com/tools/products-code-browser.html">Code Browser Documentation</a></li>
<li><a target="_blank" href="https://builderhub.corp.amazon.com/tools/crux/index.html">CRUX Documentation</a></li>
<li><a target="_blank" href="https://builderhub.corp.amazon.com//docs/code-browser/user-guide/code-search.html">Code Search Documentation</a></li>
<li><a target="_blank" href="https://w.amazon.com/index.php/DTUX/Browser_Support_Policy">Browser Support Policy</a></li>
</ul>
</div>
</div>
</footer>
</nav>

<script>
  var codeBrowserSpoofedUser = 'pedrezaj'
</script>
<script src="https://internal-cdn.amazon.com/code.amazon.com/pub/assets/cdn/vendor-part1-cbfcefdd48a040ef97f5f68679e9f7b25778f27f104c8a9dc3bcd7657beaf2c4.js"></script>
<script src="https://internal-cdn.amazon.com/code.amazon.com/pub/assets/cdn/vendor-part2-6bc8927fb64933e5b33c9713f1442541bb830245764ffedd64bd5c33bb428217.js"></script>
<script src="https://internal-cdn.amazon.com/code.amazon.com/pub/assets/cdn/vendor-part3-7ebd7179046ca7f16256f9098d3160938eb0b9e871015ae6f2b2b94ae73669db.js"></script>
<script src="https://internal-cdn.amazon.com/code.amazon.com/pub/assets/cdn/vendor-part4-17bb2fe46496199e4ee24cf7515256f1c5c0b04382ecb875cb6ed8630839ea2f.js"></script>
<script src="https://internal-cdn.amazon.com/code.amazon.com/pub/assets/cdn/application-11087d592b3c8b75a6056a8defabd9ac70c8c112656cfd5aa5b1fe1d7e20fffb.js"></script>
<script src="https://internal-cdn.amazon.com/is-it-down.amazon.com/javascripts/stripe.min.js"></script>
<script>
  (function() {
    if (typeof isItDownStripe === 'function') {
      $(function() {
        return isItDownStripe('sourcecode', 1107, 1);
      });
    }
  
  }).call(this);
</script>
<script src="https://internal-cdn.amazon.com/code.amazon.com/pub/assets/cdn/application_angular-91842533ce2de5c824774b8a2cf794fd84f44dddd1524f342485ccfc46fec887.js"></script>
<script>
  bootstrapNgApp('code-browser', 'markdown');
</script>
<script>
  $(document).ready(function() {
      $('#branches').select2({
          width: "274px",
          data: [{"text":"This Commit's Parents","children":[{"text":"28a67ed6^1 (cc439589)","id":"/packages/Amazon-redshift-data-api-getting-started/blobs/cc439589df2c0d50b6965e6e41f6da2e80a64931/--/use-cases/etl-orchestration-with-lambda-and-step-functions/cloud_formation_template/etl-orchestration-with-stepfunctions-and-redshift-data-api.yaml"}]},{"text":"Official Branches","children":[{"text":"dev-general-readme","id":"/packages/Amazon-redshift-data-api-getting-started/blobs/heads/dev-general-readme/--/use-cases/etl-orchestration-with-lambda-and-step-functions/cloud_formation_template/etl-orchestration-with-stepfunctions-and-redshift-data-api.yaml"},{"text":"dev-java","id":"/packages/Amazon-redshift-data-api-getting-started/blobs/heads/dev-java/--/use-cases/etl-orchestration-with-lambda-and-step-functions/cloud_formation_template/etl-orchestration-with-stepfunctions-and-redshift-data-api.yaml"},{"text":"mainline (default)","id":"/packages/Amazon-redshift-data-api-getting-started/blobs/heads/mainline/--/use-cases/etl-orchestration-with-lambda-and-step-functions/cloud_formation_template/etl-orchestration-with-stepfunctions-and-redshift-data-api.yaml"}]}],
          createSearchChoice: function(term, data) {
            if ($(data).filter(function() { return this.text.localeCompare(term)===0; }).length===0) {
              // This code fires if the user enters a string and hits return (rather than selecting the item
              // from the dropdown.  This breaks when viewing commits (logs). Customize it accordingly.
              if ('/packages/Amazon-redshift-data-api-getting-started/blobs/'.match(/\/logs/)) {
                var id_string = '/packages/Amazon-redshift-data-api-getting-started/blobs//' + term;
                if ('use-cases/etl-orchestration-with-lambda-and-step-functions/cloud_formation_template/etl-orchestration-with-stepfunctions-and-redshift-data-api.yaml') {
                  id_string += '/--/use-cases/etl-orchestration-with-lambda-and-step-functions/cloud_formation_template/etl-orchestration-with-stepfunctions-and-redshift-data-api.yaml';
                }
                return {text:term, id: id_string};
              }
              return {text:term, id:'/packages/Amazon-redshift-data-api-getting-started/blobs/' + term + '/--/use-cases/etl-orchestration-with-lambda-and-step-functions/cloud_formation_template/etl-orchestration-with-stepfunctions-and-redshift-data-api.yaml'};
            }
          },
      });
      $('#branches').select2('data', null);
      $('#branches').change(function() {
        document.location = $(this).val();
      });
  });
</script>
<script>
  (function() {
    $(function() {
      return $('.add_relation_link a').click(function() {
        $('.add_related_items').show(500).find('input[name=relation]').delay(500).focus();
        $(this).hide();
        return false;
      });
    });
  
  }).call(this);
</script>
<script>
  (function() {
    $(function() {
      return $('.commit-see-more').click(function() {
        $('.commit-see-more').text($('.commit-see-more').text() === 'see more' ? 'see less' : 'see more');
        $('.last-commit-summary').toggle();
        $('.commit_header').toggleClass('show_commit_header');
        return false;
      });
    });
  
  }).call(this);
</script>
<script>
  (function() {
    $('li.permalink a').click(function() {
      window.location.href = this.href + location.hash;
      return false;
    });
  
  }).call(this);
</script>
<script>
  (function() {
    var relatedItems;
  
    relatedItems = new Codac.RelatedItemsModel('Amazon-redshift-data-api-getting-started', '28a67ed63469e767ff917f71d9697275aa578490', 'mainline', '');
  
    Codac.model.relatedItemsModel(relatedItems);
  
  }).call(this);
</script>
<script>
  (function() {
    var onUrlChange, premalinkBtnEl, premalinkPath;
  
    (function() {
      var anchor, anchorMatch, hash, hl_lines_match, path, ranges, search;
      anchor = window.location.hash.split('#')[1] || '';
      anchorMatch = anchor.match(/^line-(\d+)/);
      if (anchorMatch) {
        anchor = 'L' + anchorMatch[1];
      }
      search = window.location.search;
      hl_lines_match = search.match(/hl_lines=([\d\-\,]+)/);
      ranges = '';
      if (hl_lines_match) {
        ranges = hl_lines_match[1].split(',').map(function(range) {
          return range.split('-').map(function(lineNum) {
            return 'L' + lineNum;
          }).join('-');
        }).join(',');
      }
      hash = ranges;
      if (anchorMatch) {
        hash += '|' + anchor;
      }
      if (hash !== '') {
        if (hash !== '') {
          window.location.hash = '#' + hash;
        }
        path = window.location.pathname + window.location.hash;
        return window.history.pushState(void 0, void 0, path);
      }
    })();
  
    premalinkBtnEl = $('#file_actions .permalink');
  
    premalinkPath = premalinkBtnEl.find('.minibutton').attr('href');
  
    onUrlChange = function() {
      return premalinkBtnEl.hide();
    };
  
    setTimeout((function() {
      return (new Diff()).enableHighlighting({
        basePath: premalinkPath,
        onUrlChange: onUrlChange
      });
    }), 0);
  
  }).call(this);
</script>
<script src="https://internal-cdn.amazon.com/code.amazon.com/pub/assets/cdn/blame-f88c6e07c85e28bd45aab26237632f0d188ddabfb015c65edef9336a23c07758.js"></script>
<script>
  (function() {
    $(function() {
      var b;
      Codac.CommitHover.setupHover('.blameLine .powertip');
      b = new Codac.Blame({
        "package": 'Amazon-redshift-data-api-getting-started',
        sha1: '28a67ed63469e767ff917f71d9697275aa578490',
        path: 'use-cases/etl-orchestration-with-lambda-and-step-functions/cloud_formation_template/etl-orchestration-with-stepfunctions-and-redshift-data-api.yaml',
        show: 'false'
      });
      return b.doBlame();
    });
  
  }).call(this);
</script>
<script>
  (function() {
    $(function() {
      $('.navbar-search.navbar-form').submit(function() {
        $(this).submit(function(e) {
          e.preventDefault();
          return false;
        });
        return $('.search-spinner').show();
      });
      return $('#tiny-link').click(function() {
        return $.getJSON('https://tiny.amazon.com/submit/url?opaque=1&name='.concat(encodeURIComponent(location.href)), function(data) {
          var $input, $link, $successful;
          if (data.error != null) {
            return $('#tiny-link').html($('<div class="red">' + data.error + '</div>'));
          } else {
            $link = data.short_url;
            $input = document.createElement('textarea');
            $input.innerHTML = $link;
            document.body.appendChild($input);
            $input.select();
            $successful = document.execCommand("copy");
            document.body.removeChild($input);
            if ($successful) {
              $('#tiny-link').html('Tiny Link Copied');
            } else {
              $('#tiny-link').html($('<div class="red"> Copy Tiny Link failed </div>'));
            }
            return setTimeout(function() {
              return $('#tiny-link').html('Tiny Link');
            }, 5000);
          }
        });
      });
    });
  
  }).call(this);
</script>

</body>
</html>
